<div fxLayout="column">
    <div fxLayout="row">
        <mat-toolbar style="background-color: rgb(235, 235, 235);">
            <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{selectedFaqType?.faqType}}
            </mat-label>
            <div fxLayoutAlign="end center">
                <button id="addFaqBtn" mat-raised-button class="simple-button" (click)="openFaqAddDialog()">{{uiLabels.addButton}}</button>
            </div>
        </mat-toolbar>
        <mat-divider>
        </mat-divider>
    </div>

    <app-faq-question-answer [selectedFaqType]="selectedFaqType" [faqInfoList]="faqInfoList" [isAdmin]="true" [editFaqInfo]="openFaqAddDialog"></app-faq-question-answer>
</div>