<div fxLayout="row">
    <mat-toolbar style="background-color: rgb(235, 235, 235);">
        <mat-label fxLayoutAlign="start center" fxFlex="1 1 85%">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
            {{uiLabels.wasteCategoryLabel}}
        </mat-label>
        <div fxLayoutAlign="end center">
            <button id="addWasteCategoryBtn" mat-raised-button class="simple-button" (click)="openCategoryAddDialog()">{{uiLabels.addButton}}</button>
        </div>

    </mat-toolbar>
    <mat-divider>
    </mat-divider>
</div>

<div id="faqTypeList" fxLayout="row" *ngFor="let eachCategory of wasteCategoryList, index as i" class="common-list-item simple-list" [ngStyle]="{'background-color': selectedItem==eachCategory ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(eachCategory)">
    <div fxFlex="1 1 70%" fxFlex="center start">
        <mat-label>{{eachCategory.categoryTitle}}</mat-label>
    </div>
    <!-- <div fxFlex="1 1 40%">
        <mat-label>{{faqType.faqTypeDescription}}</mat-label>
    </div> -->
    <div fxFlex="1 1 10%" fxFlex="center center">

        <button id="{{'wasteCategory'+i}}" mat-raised-button class="simple-button" (click)="showWasteTypesOfSelectedCategory(eachCategory)">{{uiLabels.wasteCategoryDetailsButton}}</button>
    </div>
    <div fxFlex="1 1 10%" fxFlex="center center">

        <button id="{{eachCategory.categoryId + 'Edit'}}" mat-raised-button class="simple-button" (click)="openCategoryAddDialog(eachCategory)">{{uiLabels.editBtn}}</button>
    </div>

    <div fxFlex="1 1 10%" fxFlex="center center">

        <button id="{{'removeCategory'+i}}" mat-raised-button class="simple-button" (click)="removeItem(eachCategory.categoryId)">{{uiLabels.removeButton}}</button>
    </div>

</div>