<span *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode">
    </app-lang-def-button>
</span>
<mat-tab-group [selectedIndex]="selectedIndex" (focusChange)="indexChange($event.index); firstItemSet()" *ngIf="viewComponent">

    <mat-tab id="inquiryListTab" label={{uiLabels.inquiryListTabTitle}}>
        <app-inquiry-info-list [selectTab]="selectTab" [firstItemSelection]="firstItemSelection" [inquiryViewList]="inquiryViewList" [isViewMode]="isViewMode"></app-inquiry-info-list>
    </mat-tab>
    <mat-tab id="responseTab" label={{uiLabels.inquiryresonseTabTitle}}>
        <app-response [selectedInquiry]="selectedInquiry" [inquiryViewList]="inquiryViewList"></app-response>
    </mat-tab>

    <mat-tab id="discussionTab" label={{uiLabels.discussionTabTitle}}>
        <app-thread-discussion-popup [isViewMode]="isViewMode" [selectedInquiry]="selectedInquiry" [replyList]="replyList" [userFlag]="userFlag"></app-thread-discussion-popup>
    </mat-tab>
</mat-tab-group>