<div *ngIf="viewComponent">
    <div fxLayout="row">
        <mat-toolbar style="background-color: rgb(235, 235, 235);">

            <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.listHeader}}
            </mat-label>

            <div>
                <span class="row right" style="flex:1" fxLayoutGap="15px">
                    <!-- ( {{uiLabels.lastGenerated}} : {{invoiceList[0].frontendDate}} ) -->
                    <div *ngIf="invoiceList && invoiceList.length>0" style="font-size:16px;"></div>
                    <button id="" mat-raised-button class="list-button" (click)="triggerInvoiceGenerator()">
                        {{uiLabels.generateInvoiceButton}}
                    </button>
                    <button id="" mat-raised-button class="list-button" (click)="openCashInvoicePopup()">
                        {{uiLabels.addInvoiceButton}}
                    </button>
                </span>
            </div>

        </mat-toolbar>

    </div>

    <app-search-pagination (searchByText)="searchByText()"></app-search-pagination>

    <div style="margin: 20px 10px 10px 20px; ">
        <mat-label style="margin-right: 10px;">{{uiLabels.filterTitle}} &nbsp;: &nbsp;</mat-label>
        <mat-radio-group color="primary" *ngFor="let eachFilter of paymentMethodFilter" [(ngModel)]="paymentFilterModel" (ngModelChange)="searchByText()">
            <mat-radio-button style="margin-right: 20px;" value={{eachFilter.value}}>
                {{uiLabels[eachFilter.titleKey]}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-accordion *ngFor="let item of invoiceList" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">

        <mat-expansion-panel *ngIf="(isHandset$ | async)">

            <mat-expansion-panel-header style="background-color:  rgb(190, 223, 223);padding: 10px 25px 15px 0px;">
                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.date}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{item.frontendDate}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.status}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-chip>{{item.status.statusTitle}}</mat-chip>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.invoiceNo}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.invoiceNo}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.billAmount}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.billAmount}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.generatorCompanyName}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.generatorCompInfo.companyName}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.receiveCompanyName}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.receiveCompInfo.companyName}}</mat-label>
                </div>
            </div>



            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="60 1 30px;" fxLayoutAlign="start start">
                    <mat-label>&nbsp;</mat-label>
                </div>

                <button id="" mat-raised-button class="list-button" (click)="generateInvoice(item)">
                    {{uiLabels.generatorBtn}}
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="!(isHandset$ | async)">
            <!-- <mat-expansion-panel-header></mat-expansion-panel-header> -->
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="start start" style="background-color:  rgb(190, 223, 223);padding: 10px 25px 50px 0px;">
                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.date}}</mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-label>{{item.frontendDate}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.status}}</mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-chip>{{item.status.statusTitle}}</mat-chip>
                    </div>
                </div>

            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutGap="10px" style="padding: 15px 0px 0px 0px;">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.invoiceNo}}</mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                            <mat-label>{{item.invoiceNo}}</mat-label>
                        </div>
                    </div>
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.billAmount}}</mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                            <mat-label>{{item.billAmount}}</mat-label>
                        </div>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.generatorCompanyName}}</mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                            <mat-label>{{item.generatorCompInfo.companyName}}</mat-label>
                        </div>
                    </div>
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.receiveCompanyName}}</mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                            <mat-label>{{item.receiveCompInfo.companyName}}</mat-label>
                        </div>
                    </div>

                </div>

                <div style="display: flex;justify-content: flex-end;align-items: center;flex-wrap: wrap;">


                    <div class="list-section-value" style=" margin-right: 25px;">

                        <button id="" mat-raised-button class="list-button" (click)="generateInvoice(item)">
                            {{uiLabels.generatorBtn}}
                        </button>
                    </div>

                    <div class="list-section-value" style=" margin-right: 25px;" *ngFor="let eachProcess of item.processsList">

                        <button mat-raised-button class="list-button-light" (click)="updateStatus(item,eachProcess)">{{eachProcess.processTitle}}</button>

                    </div>

                </div>
            </div>

        </mat-expansion-panel>




    </mat-accordion>

    <div style="padding: 2px 15px;">
        <mat-label *ngIf="invoiceList.length<pageSize">{{dataEndsLabel}}</mat-label>
    </div>
</div>