<span *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode">
    </app-lang-def-button>
</span>
<mat-tab-group class="popUp">
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <mat-tab label={{uiLabels.submissionInfo}}>
        <app-subscription-submission-info id="subscriptionSubmissionInfoTab" [subscriptinDetail]="sendSubscriptionDetail"></app-subscription-submission-info>
    </mat-tab>
    <!-- <mat-tab id="Filterconfirmation" label={{uiLabels.confirmation}}>
        <app-subscription-confirmation [subscriptinDetail]="sendSubscriptionDetail"></app-subscription-confirmation>

    </mat-tab> -->

</mat-tab-group>
<mat-card-actions align="end">
    <button style="margin-right: 25px;" id="subscriptionDetailCancle" mat-raised-button color="accent" mat-dialog-close>
        {{uiLabels.cancel}}
    </button>
    <!-- <button id="subscriptionDetailSave" mat-raised-button color="primary" type="click" (click)=" onNoClick()">
        {{uiLabels.save}}
    </button> -->
</mat-card-actions>