<div *ngIf="isViewPopup">
    <div style="display: flex;flex-direction: column;">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        <div style="display: flex;flex-direction: row;margin-top: 20px;height: 45px;background-color: rgb(233, 233, 233);font-size: 14px;">
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;width: 200px;">
                {{uiLabels.driver}}
            </div>
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;width: 30px !important;" *ngFor="let hour of hrs">
                <div>
                    {{hour.substring(0,2)}}:
                </div>
                <div>
                    {{hour.substring(3,5)}}
                </div>
                <!-- {{hour}} -->
            </div>
        </div>
        <div style="width: 1465px;">
            <div *ngFor="let driver of dateSpecReqData" style="display: flex;flex-direction: row;">
                <div style="display: flex;flex-direction: column;justify-content: start;align-items: center;height: 30px;width: 200px;border: 1px solid rgb(233, 233, 233);">
                    {{driver.driverName}}
                </div>
                <!-- <div role="button" style="display: flex;flex-direction: column;height: 30px;width: 30px;" *ngFor="let slot of driver.tripList" [ngStyle]="selectColor(slot)" (click)=" onClickDriverBand(slot,driver.driverName,driver.driverId)"> -->

                <div *ngFor="let slot of driver.tripList">
                    <div *ngIf="slot.isSelected" role="button" style="display: flex;flex-direction: column;height: 30px;width: 30px;" [ngStyle]="selectColor(slot)" (click)=" onClickDriverBand(slot,driver.driverName,driver.driverId)">
                    </div>
                    <div *ngIf="!slot.isSelected" style="display: flex;flex-direction: column;height: 30px;width: 30px;" [ngStyle]="selectColor(slot)">
                    </div>
                    <!-- [ngStyle]="{'background-color': selectColor(slot)}" -->
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!isViewPopup">
    <mat-accordion>
        <mat-expansion-panel hideToggle="false" style="margin-bottom: 5px;margin-top: 5px;">
            <mat-expansion-panel-header id="typeHeader" style="height: 100%; background-color:  rgb(190, 223, 223);padding: 10px 0px;">
                <div style="flex:1">

                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="left" style="font-weight: 500;font-size: 19px;">
                                {{uiLabels.driverSchedule}}
                            </div>

                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label">
                                <!-- {{uiLabels.date}} -->
                            </div>

                            <div class="list-section-separator">
                                <!-- : -->
                            </div>
                            <div class="list-section-value">
                                <!-- <app-date-time-input [modelObject]="driverDate" [modelDateAttributeName]="'date'"></app-date-time-input> -->
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>


                    </div>


                </div>
            </mat-expansion-panel-header>
            <div class="three-section-list-row" style="margin-bottom: 10px;">


                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.date}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <app-date-time-input [modelObject]="driverDate" [modelDateAttributeName]="'date'"></app-date-time-input>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <button mat-raised-button color="primary" (click)="onClickShowBtn(driverDate)">{{uiLabels.show}}</button>
                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">

                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label" style="font-weight: 500;">
                        <!-- {{uiLabels.driverSchedule}} -->
                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">

                    </div>

                </div>



            </div>
            <div style="display: flex;flex-direction: column;">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                <div style="display: flex;flex-direction: row;margin-top: 20px;height: 45px;background-color: rgb(233, 233, 233);font-size: 14px;">
                    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;width: 200px;">
                        {{uiLabels.driver}}
                    </div>
                    <div style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;width: 30px !important;" *ngFor="let hour of hrs">
                        <div>
                            {{hour.substring(0,2)}}:
                        </div>
                        <div>
                            {{hour.substring(3,5)}}
                        </div>
                        <!-- {{hour}} -->
                    </div>
                </div>
                <div style="width: 1465px;">
                    <div *ngFor="let driver of dateSpecReqData" style="display: flex;flex-direction: row;">
                        <div style="display: flex;flex-direction: column;justify-content: start;align-items: center;height: 30px;width: 200px;border: 1px solid rgb(233, 233, 233);">
                            {{driver.driverName}}
                        </div>
                        <!-- <div role="button" style="display: flex;flex-direction: column;height: 30px;width: 30px;" *ngFor="let slot of driver.tripList" [ngStyle]="selectColor(slot)" (click)=" onClickDriverBand(slot,driver.driverName,driver.driverId)"> -->

                        <div *ngFor="let slot of driver.tripList">
                            <div *ngIf="slot.isSelected" role="button" style="display: flex;flex-direction: column;height: 30px;width: 30px;" [ngStyle]="selectColor(slot)" (click)=" onClickDriverBand(slot,driver.driverName,driver.driverId)">
                            </div>
                            <div *ngIf="!slot.isSelected" style="display: flex;flex-direction: column;height: 30px;width: 30px;" [ngStyle]="selectColor(slot)">
                            </div>
                            <!-- [ngStyle]="{'background-color': selectColor(slot)}" -->
                        </div>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>

</div>