<div *ngIf="viewContent">

    <div>
        <div fxLayout="row">
            <mat-toolbar style="background-color: rgb(221, 221, 221);">
                <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                    <span *ngIf="isSystemAdmin">
                        <app-lang-def-button [componentCode]="componentCode">
                        </app-lang-def-button>
                    </span>
                    {{uiLabels.headerLabel}}
                </mat-label>
                <div fxLayoutAlign="end center" style="margin-right: 40px;">
                    <button id="addBranchBtn" mat-raised-button color="primary" [mat-dialog-close]="selectedItem">{{uiLabels.addButton}}</button>
                </div>
            </mat-toolbar>
            <mat-divider>
            </mat-divider>
        </div>


        <div style="padding: 15px; background-color:rgb(241, 240, 240);margin:15px 0px 15px 0px;">
            <div class="two-section-list-row">

                <div class="list-value-section-one">
                    <div class="list-section-label">
                        {{uiLabels.userName}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="font-weight: 550;">
                        {{selectedItem.userName}}
                    </div>
                </div>

                <div class="list-value-section-two">
                    <div class="list-section-label">
                        {{uiLabels.email}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value" style="font-weight: 550;">
                        {{selectedItem.userEmail}}
                    </div>
                </div>

            </div>
        </div>


        <div fxLayout="row">
            <mat-toolbar style="background-color: rgb(221, 221, 221);">
                <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">{{uiLabels.userListHeader}}</mat-label>
            </mat-toolbar>
            <mat-divider>
            </mat-divider>
        </div>

        <div>
            <div *ngFor="let item of userList">

                <div class="list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(241, 240, 240)' : ''}" (click)="selectListItem(item)">

                    <div style="display: flex;flex-direction: row;">
                        <div>
                            <mat-icon *ngIf="item.userInfoId==selectedItem.userInfoId" color="primary">check_box</mat-icon>
                            <mat-icon *ngIf="item.userInfoId!=selectedItem.userInfoId" style="color: rgb(56, 56, 56);">check_box_outline_blank</mat-icon>
                        </div>
                        <div style="flex: 1;">
                            <div class="two-section-list-row">

                                <div class="list-value-section-one">
                                    <div class="list-section-label">
                                        {{uiLabels.userName}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>

                                    <div class="list-section-value">
                                        {{item.userName}}
                                    </div>
                                </div>

                                <div class="list-value-section-two">
                                    <div class="list-section-label">
                                        {{uiLabels.email}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.userEmail}}
                                    </div>
                                </div>

                            </div>

                            <div class="two-section-list-row ">
                                <div class="list-value-section-one ">
                                    <div class="list-section-label">
                                        {{uiLabels.contactNo}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.userContactNoFormated}}

                                    </div>
                                </div>

                                <div class="list-value-section-two">
                                    <div class="list-section-label">
                                        {{uiLabels.departmentAndJob}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.department}} / {{item.jobTitle}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div fxLayout="row">

        <mat-toolbar style="background-color: rgb(255, 255, 255);padding-right: 50px;" fxLayoutAlign="end center">
            <button id="{{selectedItem?.companyId + 'close'}}" mat-raised-button color="accent" style="width: 100px;" mat-dialog-close>{{uiLabels.closeButton}}</button>
        </mat-toolbar>
    </div>

</div>