.temporary-status{
    margin-left: 10px;
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 7px;
}

.filter-section div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
}

.partner-approval-icon {
  font-size: 20px;
  margin-left: 10px;
}

.agreement-action-btn{
    width: 150px;
}

.launch-icon{
   font-size: 16px;
   margin-left:5px;
   margin-top: 5px;
}

.partner-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}