<mat-card style="border:solid rgb(224, 217, 217) 2px;">
    <mat-card-header>
        <mat-card-title style="padding-bottom: 10px;">{{uiLabels.submissionmessagetitle}}
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h2>{{uiLabels.submissionmessage}}</h2>
    </mat-card-content>
    <mat-card-actions align="end">
        <button id="okButton" mat-raised-button color="primary" [mat-dialog-close]="">
            {{uiLabels.okBtn}}
        </button>
    </mat-card-actions>
</mat-card>