<mat-card>
    <div [ngClass]="!(isHandset$ | async) ? 'form-padding' : ''">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 10px;">

                {{uiLabels.formTitle}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">

                <div fxLayout="row">
                    <div fxFlex="0 1 130px" fxLayout="column" fxLayoutAlign="start end">
                        <mat-label>{{uiLabels.accessLabel}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="start center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <textarea style="height: 300px;" id="abcd123" [ngClass]="!(isHandset$ | async) ? 'input-large' : 'input-large'" matInput [(ngModel)]="agreementProcessDef"></textarea>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="(isHandset$ | async)">
                    <div fxFlex="0 1 130px" fxLayout="column" fxLayoutAlign="center end">

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                    <div fxFlex="90 1 auto" fxLayoutAlign="start center">
                        <p>&nbsp;</p>
                        <mat-label *ngIf="jsonCorrect==false" style="color: red;">{{uiLabels.invalidJsonMessage}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row" *ngIf="(isHandset$ | async)">
                    <div fxFlex="0 1 130px" fxLayout="column" fxLayoutAlign="center end">

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                    <div fxFlex="90 1 auto" fxLayoutAlign="start center">
                        <button id="submitButton" mat-raised-button class="simple-button" type="submit" (click)="setAgreementProcessDef()">{{uiLabels.setBtn}}</button>

                    </div>
                </div>



                <div fxLayout="row" *ngIf="!(isHandset$ | async)">
                    <div fxFlex="0 1 130px" fxLayout="column" fxLayoutAlign="center end">

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                    <div fxFlex="90 1 auto" fxLayoutAlign="start center" fxLayoutGap="50px">
                        <div fxFlex="0 1 25">

                            <mat-label *ngIf="jsonCorrect==false" style="color: red;">{{uiLabels.invalidJsonMessage}}</mat-label>
                        </div>
                        <div fxFlex="0 1 75">
                            <button id="submitButton" mat-raised-button class="simple-button" type="submit" (click)="setAgreementProcessDef()">{{uiLabels.setBtn}}</button>
                        </div>

                    </div>

                </div>


            </div>

        </mat-card-content>
    </div>

</mat-card>