<span *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode">
    </app-lang-def-button>
</span>
<mat-tab-group *ngIf="viewContent">

    <mat-tab label={{uiLabels.gasolineTypeTab}}>
        <app-gasoline-tab [gasolineTypeList]="gasolineTypeList" [gasolineInfo]="gasolineInfo"></app-gasoline-tab>
    </mat-tab>
    <mat-tab label={{uiLabels.vehicleTypeTab}}>
        <app-vehicle-tab [vehicleTypeList]="vehicleTypeList" [vehicleTypeInfo]="vehicleTypeInfo" [gasolineTypeList]="gasolineTypeList"></app-vehicle-tab>
    </mat-tab>
</mat-tab-group>