<mat-card>
    <mat-card-title style="background-color: rgb(233, 233, 233);padding: 15px;font-size: 16px; font-weight: 500;">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        <mat-label *ngIf="!isManifestoTrip"></mat-label>
    </mat-card-title>
    <mat-dialog-content>

        <!-- Vehicle Info  -->
        <mat-card *ngIf="!isManifestoTrip">
            <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.vehicleInformation}} </mat-card-title>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                        Vehicle Information
                    </mat-expansion-panel-header> -->
            <mat-card-content>
                <div class="list-item-without-hover">
                    <div class="three-section-list-row" style="margin-bottom: 10px;font-weight: 500;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.vehicleName}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.manufacturerName}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.vehiclLicenseNo}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.vehicleRegNo}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <!-- <u>
                                    <a style="color: rgb(124, 57, 192);" role="button" (click)="onClickDetailsBtn(vehicleTrips,date)">{{uiLabels.Details}} </a>
                                </u> -->
                            </div>

                            <div class="list-section-separator">
                            </div>

                            <div class="list-section-value">

                            </div>

                        </div>


                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.capacity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.vehicleCapacity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.loadedQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.vehicleLoadQuantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.freeSpacee}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div *ngIf="vehicleInfo.vehicleFreeSpace>-1" class="list-section-value">
                                {{vehicleInfo.vehicleFreeSpace}}
                            </div>
                            <div *ngIf="vehicleInfo.vehicleFreeSpace<0" class="list-section-value">
                                {{vehicleInfo.vehicleFreeSpace}}
                            </div>

                        </div>


                    </div>
                </div>
            </mat-card-content>
            <!-- </mat-expansion-panel>

            </mat-accordion> -->
        </mat-card>

        <!-- Add Trip Form -->
        <mat-card>
            <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.addTripForm}} </mat-card-title>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                        Add Trip Form
                    </mat-expansion-panel-header> -->
            <div class="list-item-without-hover">

                <div *ngIf="isManifestoTrip" class="three-section-list-row" style="margin-bottom: 10px;">

                    <div class="list-value-section">
                        <div class="list-section-label">
                            Date
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <app-date-time-input [modelObject]="tripInfo" [modelDateAttributeName]="'pickUpDate'"></app-date-time-input>

                        </div>
                    </div>

                    <div class="list-value-section">
                        <div class="list-section-label">
                            Vehicle
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value" fxLayoutAlign="start start" style="border:solid black 1px ;box-sizing: border-box;">
                            <mat-select matNativeControl style="padding-right: 25px;" placeholder={{vehicleInfo.vehicleType}} (selectionChange)="onVehicleSelection($event)">
                                <mat-option *ngFor="let item of companyVehicleList" id={{item.vehicleRegNo}} [value]="item">
                                    {{item.manufacturerName+item.vehicleType}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="list-value-section">
                        <div class="list-section-label">

                        </div>

                        <div class="list-section-separator">

                        </div>
                        <div class="list-section-value">

                        </div>
                    </div>
                </div>

                <div class="three-section-list-row" style="margin-bottom: 10px;">
                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.dropDownLabel}}
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value" fxLayoutAlign="start start" style="border:solid black 1px ;box-sizing: border-box;">
                            <mat-select matNativeControl style="padding-right: 25px;" placeholder={{vehicleInfo.previousDriverName}} (selectionChange)="onDriverSelection($event)">
                                <mat-option *ngFor="let item of driverList" id={{item.userName}} [value]="item">
                                    {{item.userName}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.timeFrom}}
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <input mask="00:00" placeholder="12:00" matInput [(ngModel)]="tripInfo.startTime" (input)=" validateStartTime(tripInfo.startTime)">
                            <label *ngIf="!isValidTime" style="color: red;">*Please Input Valid Time </label>

                        </div>

                    </div>

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.timeTo}}
                        </div>

                        <div class="list-section-separator">

                            :
                        </div>
                        <div class="list-section-value">
                            <input mask="00:00" placeholder="12:00" matInput [(ngModel)]="tripInfo.endTime" (input)="validateEndTime(tripInfo.endTime)">
                            <label *ngIf="!isValidEndTime" style="color: red;">*Please Input Valid Time </label>
                        </div>

                    </div>
                </div>


            </div>
            <!-- </mat-expansion-panel>


            </mat-accordion> -->
        </mat-card>
        <!-- Driver Schedule Band -->
        <mat-card>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.driverSchedule}} </mat-card-title>
                </mat-expansion-panel-header>

                <app-driver-schedule [driverList]="driverList" [isViewPopup]="!isManifestoTrip" [driverBandViewList]="driverBandViewList"></app-driver-schedule>
            </mat-expansion-panel>

        </mat-card>

        <!-- Dispose Info -->
        <mat-card>
            <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.wastePickInformation}} </mat-card-title>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                                Disposal Information
                            </mat-expansion-panel-header> -->
            <mat-card-content>

                <div class="list-item-without-hover">
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section" style="font-weight: 500;">
                            <div class="list-section-label">
                                {{uiLabels.wasteItem}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.wasteItemName}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.measuringUnit}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.unit}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <input *ngIf="!isManifestoTrip" type="number" matInput [(ngModel)]="pickInfo.quantity" (input)="calculateQuantity(pickInfo.quantity)">
                                <mat-label *ngIf="isManifestoTrip">{{pickInfo.quantity}}</mat-label>
                            </div>

                        </div>


                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">


                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.pickLocation}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.dropLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.dropLocation}}
                            </div>

                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label">
                            </div>

                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">
                            </div>

                        </div>

                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.totalQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.quantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.planedQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.planQuantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.remainingQuantity}}
                            </div>

                            <div class="list-section-separator">

                                :
                            </div>
                            <div *ngIf="diposalInfo.remainingQuantity>-1" class="list-section-value">
                                {{diposalInfo.remainingQuantity}}
                            </div>
                            <div *ngIf="diposalInfo.remainingQuantity<0" class="list-section-value">
                                {{diposalInfo.remainingQuantity}}
                            </div>


                        </div>


                    </div>
                </div>
            </mat-card-content>
            <!-- </mat-expansion-panel>
                    </mat-accordion> -->
        </mat-card>

        <!-- Pick List -->
        <div *ngIf="data.editPopup && false">
            <mat-toolbar style="background-color: rgb(233, 233, 233);">
                {{uiLabels.pickList}}
            </mat-toolbar>

            <mat-card>
                <div class="three-section-list-row" style="margin-bottom: 10px;">

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.pickQuantity}}
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <input type="number" matInput [(ngModel)]="pickInfo.quantity" (input)="calculateQuantity(pickInfo.quantity)">
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <button mat-raised-button class="list-button" (click)="addPick(pickInfo)">
                                {{uiLabels.addPickButton}}
                            </button>
                        </div>

                        <div class="list-section-separator">

                        </div>
                        <div class="list-section-value">

                        </div>

                    </div>
                </div>
            </mat-card>

            <div *ngFor="let eachPickInfo of tripInfo?.pickList, index as i">
                <div class="list-item-without-hover">

                    <div class="three-section-list-row wrap" style="margin-bottom: 10px;">

                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickNo}}
                            </div>
                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{i+1}}
                            </div>
                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.pickLocation}}
                            </div>
                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickQuantity}}
                            </div>
                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <input type="number" matInput [(ngModel)]="eachPickInfo.quantity" (input)="calculateQuantity(eachPickInfo.quantity)">
                                <!-- {{pickInfo.quantity}} -->
                            </div>
                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label">
                                <button *ngIf="!eachPickInfo.loadStatus ||  eachPickInfo.loadStatus=='0'" id="removePick{{i}}" mat-raised-button class="list-button" (click)="removePick(eachPickInfo, tripInfo.tripInfoId)">
                                    {{uiLabels.removeButton}}
                                </button>
                            </div>
                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </mat-dialog-content>
</mat-card>
<mat-card-actions align="end">
    <button mat-raised-button color="accent" (click)="closeDialog()">
        {{uiLabels.closeBtn}}
    </button>
    <button mat-raised-button color="primary" (click)="removeExistingPicks(tripInfo);saveTripAndPick()">
        {{uiLabels.addBtn}}
    </button>
</mat-card-actions>