<!-- <app-secondary-menu [subMenuItems]="subMenuItems"></app-secondary-menu> -->

<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="secondary-menu" style="background-color: rgb(224, 224, 241);" [position]="(isHandset$ | async) ? 'end' : 'start'" #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="secondary-menu-head">{{uiLabels.faqTypeMenu}}</mat-toolbar>
        <mat-nav-list *ngFor="let faqType of faqTypes" (click)="showSpecificFaq(faqType)">
            <a mat-list-item>{{faqType.faqType}}</a>
        </mat-nav-list>
        
    </mat-sidenav>

    <mat-sidenav-content> -->

<!-- <div mat-card fxLayout="row" style="height: 50px;">
    <div fxLayout="column" fxFlex="1 1 100%" fxLayoutAlign="start start" style="background-color: rgb(224, 224, 241);">
        <div fxLayout="column" fxLayoutAlign="center end" style="padding-left: 15px; padding-top: 15px;">
            <mat-label style="font-weight: bold; font-size: 18px;color: rgb(68, 66, 66); height: 100px;">{{uiLabels.pageHeader}}</mat-label>
        </div>
        
         <div fxLayout="column" fxFlex="1 1 40px" *ngIf="isHandset$ | async">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </div>
    </div>
</div> -->

<mat-card>
    <mat-card-header>
        <mat-card-title style="padding-bottom: 10px;">Add Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>Name</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">

                    <input matInput>
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxLayout="row" fxFlex="50 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Email</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>

                </div>
                <div fxLayout="row" fxFlex="50 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Contact No</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>
                </div>


            </div>
            <div fxLayout="row wrap" *ngIf="!(isHandset$ | async)">
                <div fxLayout="row" fxFlex="90 1 90%">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Address</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>
                </div>

                <div fxFlex="10 1 10%" fxLayout="row" fxLayoutAlign="center end">

                    <button mat-raised-button color="primary">Details</button>

                </div>

            </div>

            <div fxLayout="column wrap" *ngIf="(isHandset$ | async)">
                <div fxLayout="row" fxFlex="1 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Address</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>
                </div>

                <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center" style="padding-top: 10px;">

                    <button mat-raised-button color="primary">Details</button>

                </div>

            </div>
        </div>

    </mat-card-content>

</mat-card>

<mat-card *ngFor="let item of subscriptionInfo" class="common-list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">
    <mat-card-content>
        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
            <div fxLayout="row wrap">
                <div fxLayout="row" fxFlex="95 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Inquiry Title</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>{{item.title}}</mat-label>
                    </div>

                </div>
                <div fxLayout="row" fxFlex="5 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <button mat-raised-button color="primary">Response</button>
                    </div>
                </div>

            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>Inquiry Detail</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.detail}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>Response</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.response}}</mat-label>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title style="padding-bottom: 10px;">Add Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>Name</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>Name</mat-label>
                    <!-- <input matInput> -->
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxLayout="row" fxFlex="33 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Email</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>Email</mat-label>
                        <!-- <input matInput style="width: 100%;"> -->
                    </div>

                </div>
                <div fxLayout="row" fxFlex="33 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Contact No</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>Contact No</mat-label>
                        <!-- <input matInput style="width: 100%;"> -->
                    </div>
                </div>

                <div fxLayout="row" fxFlex="33 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Contact No</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>Contact No</mat-label>
                        <!-- <input matInput style="width: 100%;"> -->
                    </div>
                </div>


            </div>
            <div fxLayout="row wrap" *ngIf="!(isHandset$ | async)">
                <div fxLayout="row" fxFlex="90 1 90%">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Address</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>Address</mat-label>
                        <!-- <input matInput style="width: 100%;"> -->
                    </div>
                </div>

                <div fxFlex="10 1 10%" fxLayout="row" fxLayoutAlign="center end">

                    <button mat-raised-button color="primary">Details</button>

                </div>

            </div>

            <div fxLayout="column wrap" *ngIf="(isHandset$ | async)">
                <div fxLayout="row" fxFlex="1 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Address</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>Address</mat-label>
                        <!-- <input matInput style="width: 100%;"> -->
                    </div>
                </div>

                <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center" style="padding-top: 10px;">

                    <button mat-raised-button color="primary">Details</button>

                </div>

            </div>
        </div>

    </mat-card-content>

</mat-card>

<!-- <mat-accordion style="width: 100%;">
        <mat-expansion-panel *ngFor="let item of faqInfoList">
            <mat-expansion-panel-header>
                {{item.faqInfoQuestion}}
            </mat-expansion-panel-header>
            {{item.faqInfoAnswer}}
        </mat-expansion-panel>
    </mat-accordion> -->
</div>



<!-- <mat-grid-list cols="12" rowHeight="100%">
            <mat-grid-tile colspan="9">
                <span></span>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <button mat-raised-button color="primary" (click)="openAdminFaqDialog()">{{uiLabels.adminButton}}</button>
            </mat-grid-tile>
            <mat-divider></mat-divider>
            <mat-grid-tile colspan="12">
                <mat-toolbar>
                    <mat-label>{{uiLabels.wasteTypeLabel}}: {{selectedFaqType?.faqType}}</mat-label>
                    <span></span>
                </mat-toolbar>
            </mat-grid-tile>


            <mat-grid-tile colspan="12">
                <mat-accordion style="width: 100%;">
                    <mat-expansion-panel *ngFor="let item of faqInfoList">
                        <mat-expansion-panel-header>
                            {{item.faqInfoQuestion}}
                        </mat-expansion-panel-header>
                        {{item.faqInfoAnswer}}
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-grid-tile>

        </mat-grid-list> -->


<!-- </mat-sidenav-content>

</mat-sidenav-container> -->

<!-- <mat-nav-list *ngFor="let parentMenuItem of subMenuItems">
    <mat-expansion-panel *ngIf="parentMenuItem.child" class="secondary-menu" [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            {{parentMenuItem.menuTitle}}
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let childMenuItem of parentMenuItem.child" dense>
            <mat-list-item routerLink={{childMenuItem.menuUrl}}>{{childMenuItem.menuTitle}}</mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-list-item routerLink={{parentMenuItem.menuUrl}} *ngIf="!parentMenuItem.child">{{parentMenuItem.menuTitle}}</mat-list-item>
</mat-nav-list> -->

<!-- <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayoutAlign="start start">
                <mat-toolbar fxFlex style="background-color: rgb(224, 224, 241);">
                    <mat-label>{{uiLabels.faqTypeMenu}}</mat-label>
                </mat-toolbar>
            </div>
            <div fxLayoutAlign="start start">
                <mat-toolbar fxFlex style="background-color: rgb(224, 224, 241);">
                    <mat-label>{{uiLabels.faqTypeMenu}}</mat-label>
                </mat-toolbar>
            </div>
            <div fxLayoutAlign="start start">
                <mat-toolbar fxFlex style="background-color: rgb(224, 224, 241);">
                    <mat-label>{{uiLabels.faqTypeMenu}}</mat-label>
                </mat-toolbar>
            </div>
            <div fxLayoutAlign="end start" *ngIf="isHandset$ | async">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxLayout="column" fxFlex="1 1 80%" style="background-color: aqua;">Double
                    <div fxFlex="1 1 33%" style="background-color: red;">row1</div>
                    <div fxFlex="1 1 33%" style="background-color: darkorange;">row2</div>
                    <div fxFlex="1 1 33%" style="background-color: gray;">row3</div>
                </div>
                <div fxLayout="column" fxFlex="1 1 30%" style="background-color: green;">Single<p>1</p>
                    <p>1</p>
                    <p>1</p>
                    <p>1</p>
                </div>
                <div fxFlexLayout="column" fxFlex="1 3 0" style="background-color: blue;">Single</div>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                <ng-container *ngFor="let item of [1,2,3,4,5]">
                    <app-card fxFlex="0 1 calc(50% - 32px)">item</app-card>
                </ng-container>
            </div>
        </div> -->

<!-- <mat-card>
    <mat-card-header>
        <mat-card-title style="padding-bottom: 10px;">Add Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>Name</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">

                    <input matInput>
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxLayout="row" fxFlex="50 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Email</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>

                </div>
                <div fxLayout="row" fxFlex="50 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Contact No</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>
                </div>


            </div>
            <div fxLayout="row wrap" *ngIf="!(isHandset$ | async)">
                <div fxLayout="row" fxFlex="90 1 90%">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Address</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>
                </div>

                <div fxFlex="10 1 10%" fxLayout="row" fxLayoutAlign="center end">

                    <button mat-raised-button color="primary">Details</button>

                </div>

            </div>

            <div fxLayout="column wrap" *ngIf="(isHandset$ | async)">
                <div fxLayout="row" fxFlex="1 1 auto">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Address</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <input matInput style="width: 100%;">
                    </div>
                </div>

                <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center" style="padding-top: 10px;">

                    <button mat-raised-button color="primary">Details</button>

                </div>

            </div>
        </div>

    </mat-card-content>

</mat-card> -->