<!-- <mat-dialog-content style="width: 100%; height: 90%;"> -->
<mat-card class="Design" style="width: 100%; height: 100%;padding-bottom: 50px;">
    <mat-card-content>
        <div fxLayout="row" style="padding-bottom: 10px;">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.componentCode}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" *ngIf="data.isAdd" [(ngModel)]="languageInformation.componentCode">
                <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" *ngIf="!data.isAdd" [(ngModel)]="languageInformation.componentCode" readonly>
                <!-- <mat-label>{{languageInformation.componentCode}}</mat-label> -->
            </div>
        </div>

        <div fxLayout="row" style="padding-bottom: 10px;">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.componentName}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'">
                <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" *ngIf="data.isAdd" [(ngModel)]="languageInformation.componentName">
                <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" *ngIf="!data.isAdd" [(ngModel)]="languageInformation.componentName" readonly>
                <!-- <mat-label>{{languageInformation.componentName}}</mat-label> -->
            </div>
        </div>

        <div fxLayout="row" style="padding-bottom: 10px;">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start end">
                <mat-label>{{uiLabels.uiLabel}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="start center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <textarea name="" style="width: 90%;" id="labelsField" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" [(ngModel)]="labels" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div fxLayout="row" style="padding-bottom: 10px;">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start end">
                <mat-label>{{uiLabels.messages}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="start center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <textarea name="" style="width: 90%;" id="messageField" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" [(ngModel)]="messages" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div fxLayout="row" style="padding-bottom: 20px;">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start end">
                <mat-label>{{uiLabels.notification}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="start center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <textarea name="" style="width: 90%;" id="notificationField" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" [(ngModel)]="notifications" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div fxLayout="row" *ngIf="!(isHandset$ | async)">
            <div fxFlex="0 1 400px" fxLayout="column" fxLayoutAlign="start center">
                <mat-label *ngIf="jsonCorrect==false" class="textColor">{{uiLabels.invalidMessageContent}}</mat-label>
            </div>

            <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
                <button id="cancelButton" mat-raised-button color="accent" mat-dialog-close="">
                    {{uiLabels.cancelBtn}}
                </button>
            </div>
            <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
                <button *ngIf="!data.isAdd" id="updateButton" mat-raised-button color="primary" (click)="updateData()">
                    {{uiLabels.updateBtn}}
                </button>
                <button *ngIf="data.isAdd" id="updateButton" mat-raised-button color="primary" (click)="updateData()">
                    Add
                </button>
            </div>
        </div>

        <div fxLayout="column" *ngIf="(isHandset$ | async)" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center end">
                <mat-label *ngIf="jsonCorrect==false" class="textColor">{{uiLabels.invalidMessageContent}}</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
                <div fxFlex="0 1 80px" fxLayoutAlign="center center">
                    <button id="cancelButton" mat-raised-button color="accent">
                        {{uiLabels.cancelBtn}}
                    </button>
                </div>
                <div fxFlex="0 1 80px" fxLayoutAlign="center center">
                    <button *ngIf="!data.isAdd" id="updateButton" mat-raised-button color="primary" (click)="updateData()">
                        {{uiLabels.updateBtn}}
                    </button>
                    <button *ngIf="data.isAdd" id="updateButton" mat-raised-button color="primary" (click)="updateData()">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>

</mat-card>
<!-- 
</mat-dialog-content> -->