<span *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode">
    </app-lang-def-button>
</span>
<div>
    <mat-tab-group [selectedIndex]="selectedIndex" (focusChange)="informChange($event.index)">
        <mat-tab label={{uiLabels.faqCatTabHeader}}>
            <app-faq-category [selectTab]="switchTab" [faqTypes]="faqTypes"></app-faq-category>
        </mat-tab>
        <mat-tab label={{uiLabels.faqQnATabHeader}}>
            <app-faq-question-answer [selectedFaqType]="selectedFaqType" [faqInfoList]="faqInfoList"></app-faq-question-answer>
        </mat-tab>
    </mat-tab-group>
</div>