<mat-tab-group (selectedTabChange)='getStaticContent($event)' [selectedIndex]="selectedIndex" *ngIf="loadHtml && uiLabels">

    <span *ngIf="isSystemAdmin">

        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <mat-tab label={{uiLabels.howToUseItTabHead}} name="howUsingIt" id="howUsingIt">
        <app-how-to-use-it></app-how-to-use-it>
    </mat-tab>
    <mat-tab label={{uiLabels.introductionFlowTabHead}}>
        <app-introduction-flow></app-introduction-flow>
    </mat-tab>
    <mat-tab label={{uiLabels.costingTabHead}}>
        <app-costing></app-costing>
    </mat-tab>
    <mat-tab label={{uiLabels.caseStudyTabHead}}>

        <app-case-study [pageContents]="staticPages" [staticPage]="caseStudyStaticPage"></app-case-study>
    </mat-tab>


    <!-- <mat-tab label={{uiLabels.companyUsingItTabHead}}>
            <app-company-using-it></app-company-using-it>
        </mat-tab> -->

</mat-tab-group>