.footer{
  flex-shrink: 0;
  flex-grow: 0;
  background: #eee;
  color: rgb(34, 33, 33);
  padding: 3px 15px;
 
}

::ng-deep .mat-tab-header {
    overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container {
    overflow: visible !important;
}