<div>
    <h2>{{data.header}}</h2>

    <div style="padding: 15px; border-radius: 15px; border: 1px solid gray;">
        <mat-label style="padding: 50px 25px 25px 25px;font-size: 18px;">{{data.message}} <span style="font-weight: 550;">{{data.newStatus}}</span></mat-label>

        <div style="display: flex;padding-top: 80px;justify-content: space-around;">
            <button mat-raised-button color="accent" mat-dialog-close>{{data.cancelButtonLabel}}</button>
            <button mat-raised-button color="primary" mat-dialog-close='true'>{{data.confirmButtonLabel}}</button>
        </div>
    </div>
</div>