<!-- <mat-dialog-content> -->
<mat-card>
    <mat-card-title>

        {{title}}
    </mat-card-title>
    <mat-card-content>
        <div class="three-section-list-row" style="margin-bottom: 10px;">
            <!-- <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>
            </div> -->
            <div class="list-value-section">
                <div class="list-section-label">
                    Key
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id='name' [(ngModel)]="language.key">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>
            </div>
        </div>

        <div class="three-section-list-row" style="margin-bottom: 10px;">
            <!-- <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>
            </div> -->
            <div class="list-value-section">
                <div class="list-section-label">
                    English
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id='name' [(ngModel)]="language.eng">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>
            </div>
        </div>
        <div class="three-section-list-row" style="margin-bottom: 10px;">
            <!-- <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>
            </div> -->
            <div class="list-value-section">
                <div class="list-section-label">
                    Japanese
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id='name' [(ngModel)]="language.jpn">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>
            </div>
        </div>



    </mat-card-content>
</mat-card>
<mat-card-actions align="end">
    <button mat-raised-button color="accent" mat-dialog-close>
        Close
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="language">
        Add
    </button>
</mat-card-actions>
<!-- </mat-dialog-content> -->