<mat-card>
    <mat-card-title id="successfullMsg">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        {{uiLabels.successfullMsg}}
    </mat-card-title>
    <!-- <mat-card-content>
        {{uiLabels.message1}}
        <label *ngFor="let catagory of subscription.companyCategory,index as i" style="margin-right: 10px;">{{i+1}}. {{catagory}}</label>
    </mat-card-content> -->
    <mat-card-content>
        {{uiLabels.message2}}
    </mat-card-content>
    <mat-card-actions align="end">
        <button id="popupCancelButton" mat-raised-button color="accent" type="click" (click)="onClick()">
            {{uiLabels.cancel}}
        </button>
        <button id="okButton" mat-raised-button color="primary" type="click" (click)="onClick()">
            {{uiLabels.okbutton}}
        </button>
    </mat-card-actions>

</mat-card>