<mat-card>

    <div *ngIf="!isProjectWiseCO2Emission">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label">
                    {{uiLabels.from}}
                    <!-- {{uiLabels.month}} -->
                </div>

                <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                    :
                </div>
                <div class="list-section-value">
                    <!-- {{selectedMonth}} -->{{startDate}}
                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                    <!-- {{uiLabels.year}} --> {{uiLabels.to}}
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <!-- {{selectedYear}} --> {{endDate}}
                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                    {{uiLabels.totalCO2Value}}
                </div>

                <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                    :
                </div>
                <div class="list-section-value">
                    {{companyTotalCo2Quantity.processorCo2Quantity | number:'1.0-6'}} gm
                </div>

            </div>
        </div>
        <div class="list-item" *ngFor="let wasteItem of processingMonthWiseTotalWasteItemQuantity.wasteItem">
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">

                        {{uiLabels.wasteItem}}
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.wasteItemName}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.quantity}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.totalQuantity | number:'1.0-6'}} gm
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.co2EmissionValue}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.processCo2CalculatedQuantity | number:'1.0-6'}} gm
                    </div>

                </div>

            </div>
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">

                        {{uiLabels.quantityPerunit}}
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.methodeInfo.emissionQuantityPerUnit | number:'1.0-6'}} gm / {{wasteItem.unit}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.unit}}
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.unit}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <!-- Unit -->
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        <!-- : -->
                    </div>
                    <div class="list-section-value">
                        <!-- {{wasteItem.unit}} -->
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div *ngIf="isProjectWiseCO2Emission">
        <div class="three-section-list-row" style="font-weight: 500;background-color: rgb(233, 233, 233);padding: 15px;font-size: 16px; font-weight: 500; ">

            <div class="list-value-section">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                <div class="list-section-label">
                    {{uiLabels.projectTitle}}
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    {{projectWiseCO2Emission.projectInfo.projectTitle}}
                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">

                </div>
                <div class="list-section-value">

                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">

                </div>
                <div class="list-section-value">

                </div>

            </div>
        </div>
        <div class="three-section-list-row" style="font-weight: 500;">

            <div class="list-value-section">
                <div class="list-section-label">
                    {{uiLabels.from}}
                    <!-- {{uiLabels.month}} -->
                </div>

                <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                    :
                </div>
                <div class="list-section-value">
                    <!-- {{selectedMonth}} -->{{startDate}}
                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                    <!-- {{uiLabels.year}} --> {{uiLabels.to}}
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <!-- {{selectedYear}} --> {{endDate}}
                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                    {{uiLabels.totalCO2Value}}
                </div>

                <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                    :
                </div>
                <div class="list-section-value">
                    {{projectWiseCO2Emission.processTotalQuantity | number:'1.0-6'}} gm
                </div>

            </div>
        </div>
        <div class="list-item" *ngFor="let wasteItem of projectWiseCO2Emission.wasteItemList">
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">

                        {{uiLabels.wasteItem}}
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.wasteItemName}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.quantity}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.totalQuantity | number:'1.0-6'}} gm
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.co2EmissionValue}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.processCo2CalculatedQuantity | number:'1.0-6'}} gm
                    </div>

                </div>

            </div>
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">

                        {{uiLabels.quantityPerunit}}
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.methodeInfo.emissionQuantityPerUnit | number:'1.0-6'}} gm / {{wasteItem.unit}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.unit}}
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        :
                    </div>
                    <div class="list-section-value">
                        {{wasteItem.unit}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <!-- Unit -->
                    </div>

                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                        <!-- : -->
                    </div>
                    <div class="list-section-value">
                        <!-- {{wasteItem.unit}} -->
                    </div>

                </div>
            </div>
        </div>

    </div>

</mat-card>