<span *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode"></app-lang-def-button>
</span>

<mat-tab-group [selectedIndex]="selectedIndex" style="position: -webkit-sticky;" (focusChange)="informChange($event.index)">

    <mat-tab label={{uiLabels.notification}}>
        <app-notification [userNotification]="userNotification" [switchTab]="switchTabToDetailTab">

        </app-notification>
    </mat-tab>
    <mat-tab label={{uiLabels.detail}}>
        <app-notification-detail [browseNotification]="browseNotification" [selectNotificationInfo]="selectNotificationInfo"></app-notification-detail>
    </mat-tab>
</mat-tab-group>