<mat-card style="margin-top: 40px;">
    <mat-toolbar>
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        {{uiLabels.addDate}}
        <div style="margin: 5px 20px 5px 15px;display: flex;justify-content: flex-end;flex: 1;">
            <button mat-raised-button color="primary" (click)="onClickMenifestoListBtn()">{{uiLabels.menifestoList}}</button>

        </div>
    </mat-toolbar>
    <div class="three-section-list-row">
        <div class="list-value-section">
            <div class="list-section-label">
                <mat-label>{{uiLabels.primaryDisposalComplateDate}}</mat-label>
            </div>

            <div class="list-section-separator">
                :
            </div>
            <div class="list-section-value">
                <app-date-time-input id="disposeComplateDate" [modelObject]="processComletion" [modelDateAttributeName]="'disposeComplateDate'"></app-date-time-input>

            </div>

        </div>

        <div class="list-value-section">
            <div class="list-section-label">
                <mat-label>{{uiLabels.finalDisposalComplateDate}}</mat-label>
            </div>

            <div class="list-section-separator">
                :
            </div>
            <div class="list-section-value">
                <app-date-time-input id="finalDisposeComplateDate" [modelObject]="processComletion" [modelDateAttributeName]="'finalDisposeComplateDate'"></app-date-time-input>

            </div>

        </div>

    </div>
    <mat-card-actions align="end">

        <button id="saveBtn" mat-raised-button color="primary" type="submit" (click)="saveProcessDate()">{{uiLabels.saveBtn}}</button>
    </mat-card-actions>
</mat-card>

<app-manifesto-list-directive [fromProcessCompletion]="true" [fromAddDate]="true" [manifestoInfoList]="selectedManifestoList" [addDatetab]="addDatetab"> </app-manifesto-list-directive>