<mat-card style="border:solid rgb(224, 217, 217) 2px;" *ngIf="viewContent">
    <div>
        <mat-card-header>
            <mat-card-title style="padding-bottom: 10px;">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.vehicleDetails}}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 20px;">

            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">

                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.officeAddress}}</mat-label>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="70 1 400px">
                        <mat-select (selectionChange)="onAddressSelectionChange()" placeholder="所属事業所*" [(ngModel)]="selectedAddress" style="padding-right: 25px;">
                            <mat-option *ngFor="let address of newAddressList" [value]="address">
                                {{ address.branchName}}
                            </mat-option>
                        </mat-select>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.zipCode}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="20 1 auto">
                        <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="zipcode" mask="000-0000" placeholder="〒333-0001" matInput [(ngModel)]="vehicleInfo.zipcode" value="" textInput class="form-control" type="text" (input)="SearchZipCodeData(vehicleInfo.zipcode)">

                    </div>
                    <div fxFlex="40 1 auto">
                        <input type="text" placeholder="所属事業所*(入力)" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="officeAddress" matInput [(ngModel)]="vehicleInfo.officeAddress">
                    </div>

                </div>
                <div fxLayout="row">
                    <div fxFlex="0 0 45">
                        <div fxFlex="0 0 160px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.selectVehicleType}}</mat-label>
                        </div>

                        <div fxFlex="0 0 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="0 0 50" fxLayoutAlign="start start" style="border:solid black 1px ;box-sizing: border-box;">

                            <!-- <mat-form-field class="addressSelectDesktop"> -->
                            <!-- <mat-select matNativeControl placeholder={{project.operatingOfficeName}} style="padding-right: 25px;height: 25px;" [(ngModel)]="addressDropDownModel" (selectionChange)="doSomething($event)">
                                <mat-option *ngFor="let item of addressDropDownViewList" id={{item.name}} [value]="item">
                                    {{item.name}}
                                </mat-option>
                            </mat-select> -->

                            <mat-select placeholder={{vehicleInfo.vehicleType}} matNativeControl style="padding-right: 25px;height: 25px;" (selectionChange)="selectionChangeForVehicleType($event)">
                                <mat-option *ngFor="let item of vehicleTypeList" [value]="item">
                                    {{item.vehicleTypeName}}
                                </mat-option>
                            </mat-select>

                            <!-- </mat-form-field> -->

                        </div>
                    </div>



                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.vehicleType}} </mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleType" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleType" readonly>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>


                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.capacity}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="number" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleCapacity" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleCapacity">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.manufacturerName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="manufacturerName" matInput placeholder="" [(ngModel)]="vehicleInfo.manufacturerName">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <!-- <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.modelName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="modelName" matInput placeholder="" [(ngModel)]="vehicleInfo.modelName">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div> -->

                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.vehicleNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleNo" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleRegNo">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <!-- <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.vehicleWeight}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleWeight" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleWeight">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div> -->

                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.gasolineType}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <!-- <div fxFlex="90 1 auto" *ngFor="let gasoline of gasolineTypeViewList,index as i" fxLayoutAlign="start center">
                        <input [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id={{gasoline.name}} [(ngModel)]="gasoline.isCheck" class="checkboxInput" style="width: 15px;" type="checkbox" name="check" [value]="gasoline.name" (change)="onCheckboxChange($event)" />
                        <label for="check"> {{gasoline.label}}</label>

                    </div> -->
                    <div fxFlex="90 1 auto" *ngFor="let item of gasolineList,index as i">
                        <mat-radio-group [(ngModel)]="vehicleInfo.vehicleGasolineTypeAndCo2Info" (change)="radioBtnChange($event)">
                            <mat-radio-button [value]="item">
                                {{item.gasolineTypeName}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.inspectionDate}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <app-date-time-input id="inspectionDate" [modelObject]="vehicleInfo" [modelDateAttributeName]="'inspectionDate'"></app-date-time-input>
                        <!-- <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="inspectionDate" matInput placeholder="" [(ngModel)]="vehicleInfo.inspectionDate"> -->
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <!-- <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.vehicleOwnership}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-radio-group fxLayoutGap="20px" color="primary" aria-label="Select an option" class="radio-group" [(ngModel)]="vehicleInfo.vehicleOwnerShip">
                            <mat-radio-button id="permanentRadioButton" value="Permanent">{{uiLabels.permanent}}</mat-radio-button>
                            <mat-radio-button id="TemporaryRadioButton" value="Temporary">{{uiLabels.temporary}}</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div> -->


                <!-- <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.zipCode}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center center" style="margin-right:50px;">
                        <input type="text" placeholder="所属事業所*(入力)" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="officeAddress" matInput [(ngModel)]="vehicleInfo.officeAddress">
                    </div>
                    <div fxFlex="0 1 200px" fxLayout="column" fxLayoutAlign="center center">
                        
                    </div>
                </div> -->

                <div fxLayout="row" *ngIf="vehicleInfo.fitnessLicense">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <!-- <mat-label>{{uiLabels.uploadedLicensePreview}}</mat-label> -->
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <!-- <mat-label>:</mat-label> -->
                    </div>

                    <div fxFlex="90 1 auto">
                        <mat-card style="height: 100px;width: 100px;"><img class="image-preview " src={{vehicleInfo.fitnessLicense}}></mat-card>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>



                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.fitnessLicense}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="file" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="file" matInput placeholder="" [(ngModel)]="vehicleInfo.fitnessLicense" (change)="upLoadFile($event)" style="display:none;">
                        <button>
                            <label for='file'>
                                {{uiLabels.uploadFile}}
                            </label>
                        </button>
                        <span *ngIf="vehicleInfo.fitnessLicense" style="margin-left: 5px;">{{uiLabels.fileUploaded}}</span>
                        <span *ngIf="!vehicleInfo.fitnessLicense" style="margin-left: 5px;">{{uiLabels.noFileUploaded}}</span>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>


                <div fxLayout="row">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="remarks" matInput placeholder="" [(ngModel)]="vehicleInfo.remarks">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="!(isHandset$ | async)">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>&nbsp;</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>&nbsp;</mat-label>
                    </div>

                    <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
                        <button id="close" mat-raised-button color="accent" mat-dialog-close="">{{uiLabels.close}}</button>
                    </div>
                    <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
                        <button id="save" mat-raised-button color="primary" type="submit" (click)="addVehicle()">{{uiLabels.addBtn}}</button>
                    </div>
                </div>
            </div>


            <div fxLayout="column" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">

                <div>
                    <mat-label>{{uiLabels.officeAddress}}</mat-label>

                </div>

                <div fxFlex="90 1 auto">
                    <mat-select (selectionChange)="onAddressSelectionChange()" placeholder="所属事業所*" [(ngModel)]="selectedAddress" style="padding-right: 25px;">
                        <mat-option *ngFor="let address of newAddressList" [value]="address">
                            {{ address.branchName}}
                        </mat-option>
                    </mat-select>

                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.zipCode}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="zipcode" mask="000-0000" placeholder="〒333-0001" matInput [(ngModel)]="vehicleInfo.zipcode" value="" textInput class="form-control" type="text" (input)="SearchZipCodeData(vehicleInfo.zipcode)">

                </div>

                <div fxFlex="90 1 auto">

                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="officeAddress" matInput placeholder="所属事業所*(入力)" [(ngModel)]="vehicleInfo.officeAddress">
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.vehicleType}} </mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="vehicleType" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleType">
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.capacity}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="number" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleCapacity" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleCapacity">
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.manufacturerName}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="manufacturerName" matInput placeholder="" [(ngModel)]="vehicleInfo.manufacturerName">
                </div>

                <!-- <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.modelName}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="modelName" matInput placeholder="" [(ngModel)]="vehicleInfo.modelName">
                </div> -->

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.vehicleNo}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleNo" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleRegNo">
                </div>

                <!-- <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.vehicleWeight}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="vehicleWeight" matInput placeholder="" [(ngModel)]="vehicleInfo.vehicleWeight">
                </div> -->

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.gasolineType}}</mat-label>
                    </u>
                </div>
                <div fxLayout="column" fxFlex="90 1 auto" fxLayoutAlign="start start">
                    <div fxFlex="90 1 auto" *ngFor="let item of gasolineList,index as i">
                        <mat-radio-group [(ngModel)]="vehicleInfo.vehicleGasolineTypeAndCo2Info" (change)="radioBtnChange($event)">
                            <mat-radio-button [value]="item">
                                {{item.gasolineTypeName}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.inspectionDate}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <app-date-time-input id="inspectionDate" [modelObject]="vehicleInfo" [modelDateAttributeName]="'inspectionDate'"></app-date-time-input>
                    <!-- <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="inspectionDate" matInput placeholder="" [(ngModel)]="vehicleInfo.inspectionDate"> -->
                </div>

                <!-- <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.vehicleOwnership}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                    <mat-radio-group fxLayoutGap="20px" color="primary" aria-label="Select an option" class="radio-group" [(ngModel)]="vehicleInfo.vehicleOwnerShip">
                        <mat-radio-button id="permanentRadioButton" value="Permanent">{{uiLabels.permanent}}</mat-radio-button>
                        <mat-radio-button id="TemporaryRadioButton" value="Temporary">{{uiLabels.temporary}}</mat-radio-button>
                    </mat-radio-group>

                </div> -->

                <div fxLayout="row wrap" *ngIf="vehicleInfo.fitnessLicense">
                    <div fxFlex="0 1 160px" fxLayout="column" fxLayoutAlign="center end">
                        <!-- <mat-label>{{uiLabels.uploadedLicensePreview}}</mat-label> -->
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <!-- <mat-label>:</mat-label> -->
                    </div>

                    <div fxFlex="90 1 auto">
                        <mat-card style="height: 100px;width: 100px;"><img class="image-preview " src={{vehicleInfo.fitnessLicense}}></mat-card>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>


                <div>
                    <mat-label>{{uiLabels.fitnessLicense}}</mat-label>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="file" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="file" matInput placeholder="" [(ngModel)]="vehicleInfo.fitnessLicense" (change)="upLoadFile($event)" style="display:none;">
                    <button>
                        <label for='file'>
                            {{uiLabels.uploadFile}}
                        </label>
                    </button>
                    <span *ngIf="vehicleInfo.fitnessLicense" style="margin-left: 5px;">{{uiLabels.fileUploaded}}</span>
                    <span *ngIf="!vehicleInfo.fitnessLicense" style="margin-left: 5px;">{{uiLabels.noFileUploaded}}</span>

                    <!-- <input type="file" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="file" matInput placeholder="" [(ngModel)]="vehicleInfo.fitnessLicense" (change)="upLoadFile($event)"> -->
                </div>


                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="remarks" matInput placeholder="" [(ngModel)]="vehicleInfo.remarks">
                </div>

                <div fxLayout="column" *ngIf="(isHandset$ | async)" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">

                    <div fxLayout="row" fxLayoutAlign="center center" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
                        <div fxFlex="0 1 80px" fxLayoutAlign="center center">
                            <button id="close" mat-raised-button color="accent" mat-dialog-close="">{{uiLabels.close}}</button>
                        </div>
                        <div fxFlex="0 1 80px" fxLayoutAlign="center center">
                            <button id="save" mat-raised-button color="primary" type="submit" (click)="addVehicle()">{{uiLabels.addBtn}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </mat-card-content>

    </div>

</mat-card>