<mat-card>
    <div [ngClass]="!(isHandset$ | async) ? 'form-padding' : ''">
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)" style="padding-top: 15px;">

                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>
                                <span *ngIf="isSystemAdmin">
                                    <app-lang-def-button [componentCode]="componentCode">
                                    </app-lang-def-button>
                                </span>
                                {{uiLabels.userMail}}
                            </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                            <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="emailAddress" matInput placeholder="adamitsu-mi@abc.co.jp" [(ngModel)]="userLogin.emailAddress">
                        </div>
                    </div>
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.code}}</mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                            <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="userCode" matInput [(ngModel)]="userLogin.userCode">
                        </div>
                    </div>

                </div>
            </div>

            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)" style="padding-top: 15px;">
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.userMail}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="emailAddress" matInput placeholder="adamitsu-mi@abc.co.jp" [(ngModel)]="userLogin.emailAddress">
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.code}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="userCode" matInput [(ngModel)]="userLogin.userCode">
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions align="end" style="margin-right: 100px;">
            <button id="load" mat-raised-button color="primary" (click)="loadInquiry()">{{uiLabels.loadBtn}}</button>

        </mat-card-actions>
    </div>
</mat-card>
<div fxLayout="row">
    <mat-toolbar style="background-color: rgb(250, 250, 250);">
        <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
            {{uiLabels.subjectList}}
        </mat-label>
    </mat-toolbar>
</div>
<mat-card *ngFor="let item of inquiryList,index as i" class="common-list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">
    <mat-card-content>
        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.inquirySubject}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.inquiryTitle}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.companyName}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.companyName}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.senderName}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.personName}}</mat-label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.contactNo}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.contactNo}}</mat-label>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">

                <button id="discussionBtn-{{i}}" mat-raised-button class="list-button" (click)="openDisscussionThreadDialog(item)">
                    {{uiLabels.discussionBtn}}
                </button>

            </div>
        </div>

        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">

            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.inquirySubject}}</mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-label>{{item.inquiryTitle}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.companyName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-label>{{item.companyName}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 auto">
                    <button id="discussionBtn-{{i}}" mat-raised-button class="list-button" (click)="openDisscussionThreadDialog(item)">
                        {{uiLabels.discussionBtn}}
                    </button>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.senderName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-label>{{item.personName}}</mat-label>
                    </div>
                </div>
                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.contactNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-label>{{item.contactNo}}</mat-label>
                    </div>
                </div>

            </div>

        </div>
    </mat-card-content>