<mat-dialog-content>
    <mat-card style="border:solid rgb(224, 217, 217) 2px;">
        <mat-card-title>
            {{uiLabels.termsConditionTitle}}
        </mat-card-title>
        <mat-card-content>
            {{uiLabels.termsConditionContent}}
        </mat-card-content>
        <mat-card-actions align="end">
            <button id="cancelButton" mat-raised-button color="accent" mat-dialog-close={{false}}>
                {{uiLabels.cancel}}
            </button>
            <button id="okIamagreedButton" mat-raised-button color="primary" mat-dialog-close={{true}}>
                {{uiLabels.iagree}}
            </button>
        </mat-card-actions>
    </mat-card>
</mat-dialog-content>