<mat-card>
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <mat-card-title *ngIf="!gasolineInfo.gasolineTypeId">{{uiLabels.gasolineTypeAdd}}</mat-card-title>
    <mat-card-title *ngIf="gasolineInfo.gasolineTypeId">{{uiLabels.gasolineTypeEdit}}</mat-card-title>
    <mat-card-content>


        <div class="three-section-list-row">
            <div class="list-value-section">
                <div class="list-section-label">
                    <mat-label>{{uiLabels.gasoloineName}}</mat-label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-medium'" matInput [(ngModel)]="gasolineInfo.gasolineTypeName">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                    <mat-label>{{uiLabels.measureUnit}}</mat-label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-medium'" matInput [(ngModel)]="gasolineInfo.unit">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value">

                </div>
            </div>
        </div>

        <div class="three-section-list-row">
            <div class="list-value-section">
                <div class="list-section-label">
                    <mat-label>{{uiLabels.co2EmissionUnit}}</mat-label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input type="number" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-medium'" matInput [(ngModel)]="gasolineInfo.co2EmissionUnit">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                    <mat-label>{{uiLabels.co2FuelUnit}}</mat-label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input type="number" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-medium'" matInput [(ngModel)]="gasolineInfo.co2FuelUnit">
                </div>
            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value">

                </div>
            </div>
        </div>
        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label">

                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value">

                </div>
            </div>

            <div class="list-value-section">
                <div class="list-section-label">

                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value">

                </div>
            </div>

            <div class="list-action-section">
                <div class="list-action-section-label">
                    <button *ngIf="!gasolineInfo.gasolineTypeId" mat-raised-button class="list-button" color="primary" (click)="onClickAddBtn()">{{uiLabels.addBtn}}</button>

                </div>

                <div class="list-action-section-separator">

                </div>

                <div class="list-action-section-value">

                </div>
            </div>

        </div>


    </mat-card-content>
    <mat-card-actions *ngIf="gasolineInfo.gasolineTypeId && gasolineInfo.gasolineTypeName" align="end">
        <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeBtn}}</button>
        <button mat-raised-button color="primary" (click)="onClickPopupEditBtn(gasolineInfo)">{{uiLabels.editBtn}}</button>
    </mat-card-actions>

</mat-card>
<mat-card *ngIf="!gasolineInfo.gasolineTypeId">
    <mat-card-title>{{uiLabels.gasolineList}}</mat-card-title>
    <mat-card-content>
        <div *ngFor="let item of gasolineTypeList, index as i">

            <div class="list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)">
                <div class="three-section-list-row">

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.gasoloineName}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>

                        <div class="list-section-value">
                            {{item.gasolineTypeName}}
                        </div>
                    </div>

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.measureUnit}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>

                        <div class="list-section-value">
                            {{item.unit}}
                        </div>
                    </div>

                    <div class="list-action-section" *ngIf="!(isHandset$|async)">
                        <div class="list-action-section-label">
                            <button mat-raised-button class="list-button" (click)="onClickEditBtn(item)">{{uiLabels.editBtn}}</button>
                        </div>

                        <div class="list-action-section-separator">

                        </div>

                        <div class="list-action-section-value">
                            <button id="removeButton{{i}}" mat-raised-button class="list-button" (click)="removeGasolineType(item.gasolineTypeId)">{{uiLabels.removeButton}}</button>
                        </div>
                    </div>

                </div>
                <div class="three-section-list-row">

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.co2EmissionUnit}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>

                        <div class="list-section-value">
                            {{item.co2EmissionUnit}}gm
                        </div>
                    </div>

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.co2FuelUnit}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>

                        <div class="list-section-value">
                            {{item.co2FuelUnit}}{{item.unit}}
                        </div>
                    </div>

                    <div class="list-action-section" *ngIf="!(isHandset$|async)">
                        <div class="list-action-section-label">

                        </div>

                        <div class="list-action-section-separator">

                        </div>

                        <div class="list-action-section-value">

                        </div>
                    </div>

                </div>
                <div class="two-section-list-row " *ngIf="(isHandset$|async)">

                    <div class="list-value-section-one ">

                        <div class="list-section-label">
                            <button mat-raised-button class="list-button" (click)="onClickEditBtn(item)">{{uiLabels.editBtn}}</button>
                        </div>

                        <div class="list-section-separator">

                        </div>

                        <div class="list-section-value">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>