<div *ngIf="viewComponent">
    <div fxLayout="row wrap" style="padding-top: 30px;padding-bottom: 20px;">
        <div fxLayout="row" fxFlex="80 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>
                    <span *ngIf="isSystemAdmin">
                        <app-lang-def-button [componentCode]="componentCode">
                        </app-lang-def-button>
                    </span>
                    {{uiLabels.wasteRequestListTab}}
                </mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                <!-- (change)="showFirstItem(filter)" -->
                <mat-radio-group color="primary" aria-label="Select an option" class="radio-group" (change)="showFirstItem()" [(ngModel)]="filter" (ngModelChange)="searchByText()">
                    <mat-radio-button id="newRadioButton" value="New">{{uiLabels.new}}</mat-radio-button>
                    <mat-radio-button id="repliedRadioButton" value="Replied">{{uiLabels.replied}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <app-search-pagination (searchByText)="searchByText()"></app-search-pagination>
    <mat-accordion style="width: 100%;" multi>
        <mat-expansion-panel *ngFor="let item of wasteRequestList | wasteFilter : filter,index as i" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;">
            <mat-expansion-panel-header id="typeHeader" style="background-color:  rgb(190, 223, 223);">
                <div style="flex:1">

                    <div class="three-section-list-row" style="margin-bottom: 10px;" id="wasteRequest+{{i}}">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.dateTime}}</mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value" style="font-weight: 500;">
                                <mat-label>{{item.frontendDate}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.userName}}</mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{item.userName}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.contactNo}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{item.ContactNoFormated}}</mat-label>
                            </div>

                        </div>


                    </div>


                </div>
            </mat-expansion-panel-header>
            <div class="list-item">


                <div class="three-section-list-row">
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.userName}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.userName}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.userEmail}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.userEmail}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">

                        </div>

                        <div class="list-section-separator">

                        </div>
                        <div class="list-section-value">
                            <button id="createBtnwasteRequest+{{i}}" mat-raised-button class="list-button" (click)="createWaste(item)">
                                {{uiLabels.create}}
                            </button>
                        </div>

                    </div>


                </div>

                <div class="three-section-list-row">
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.wasteType}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.wasteType}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.wasteItem}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.wasteItem}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">

                        </div>

                        <div class="list-section-separator">

                        </div>
                        <div class="list-section-value">
                            <button id="{{i}}+responseBtn" mat-raised-button class="list-button" (click)="showResponse(item)">
                                {{uiLabels.response}}
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </mat-expansion-panel>
        <mat-label *ngIf="sortData.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>
    </mat-accordion>

</div>