<div class="list-item-without-hover">

    <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">

        <div fxLayout="row" fxLayoutAlign="start start">

            <div fxFlex="1 1 40">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.projectTitle}} </mat-label>
                </div>
                <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label style="cursor: pointer;" (click)="openProjectViewPopup(project, $event)">{{project.projectTitle}}</mat-label>
                </div>
            </div>

            <div fxFlex="1 1 40">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.projectCreationDate}} </mat-label>
                </div>
                <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{project.projectCreationDate.substring(0,10)}}</mat-label>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">

            <div fxFlex="1 1 40">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.projectStartDate}} </mat-label>
                </div>
                <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{project.projectStartDate.substring(0,10)}}</mat-label>
                </div>
            </div>

            <div fxFlex="1 1 40">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.projectEndDate}} </mat-label>
                </div>
                <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{project.projectEndDate.substring(0,10)}}</mat-label>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">

            <div fxFlex="1 1 40">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.oparatingBranch}} </mat-label>
                </div>
                <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{project.operatingOfficeName}}</mat-label>
                </div>
            </div>

            <div fxFlex="1 1 40">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.status}} </mat-label>
                </div>
                <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{project.status.statusName}}</mat-label>
                </div>
            </div>

        </div>

        <div fxLayout="row">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.wasteItem}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <mat-chip-list *ngFor="let waste of project.wasteProcessInfo" style="margin-right: 5px;">
                <mat-chip>{{waste.wasteItemName}}</mat-chip>
            </mat-chip-list>
            <div fxFlex="90 1 auto">
                &nbsp;
            </div>
        </div>

        <div style="display: flex;flex-direction: row;flex-wrap: wrap; flex: 1;">
            <div style="display: flex;flex-direction: column;flex-wrap: wrap; flex: 1;">
                <div fxLayout="row" *ngIf="project.transporterPartner && project.transporterPartner.companyInfoId">

                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.businessPartner}} </mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="0 1 240px" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label style="margin-right: 5px;">{{project.transporterPartner.companyName}}<span *ngIf="project.companyId==project.transporterPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
                    </div>

                    <mat-chip-list>
                        <mat-chip *ngIf="project.transporterPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                        <mat-chip *ngIf="project.transporterPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                        <mat-chip *ngIf="project.transporterPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                    </mat-chip-list>

                </div>

                <div fxLayout="row" *ngIf="project.dumperPartner && project.dumperPartner.companyInfoId">

                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>&nbsp; </mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>&nbsp;</mat-label>
                    </div>
                    <div fxFlex="0 1 240px" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label style="margin-right: 5px;">{{project.dumperPartner.companyName}}<span *ngIf="project.companyId==project.dumperPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
                    </div>

                    <mat-chip-list>
                        <mat-chip *ngIf="project.dumperPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                        <mat-chip *ngIf="project.dumperPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                        <mat-chip *ngIf="project.dumperPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                    </mat-chip-list>

                </div>

                <div fxLayout="row" *ngIf="project.processorPartner && project.processorPartner.companyInfoId">

                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>&nbsp; </mat-label>
                    </div>
                    <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>&nbsp;</mat-label>
                    </div>
                    <div fxFlex="0 1 240px" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label style="margin-right: 5px;">{{project.processorPartner.companyName}}<span *ngIf="project.companyId==project.processorPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
                    </div>

                    <mat-chip-list>
                        <mat-chip *ngIf="project.processorPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                        <mat-chip *ngIf="project.processorPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                        <mat-chip *ngIf="project.processorPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                    </mat-chip-list>

                </div>
            </div>

            <div style="display: flex;flex-direction: column;flex-wrap: wrap; flex: 1;justify-content: center;align-items: flex-end;">
                <div style="display: flex;justify-content: flex-end;align-items: center;flex-wrap: wrap;">

                    <div class="list-section-value" *ngFor="let eachProcess of project.processsList">
                        <button *ngIf="eachProcess.processId=='editProcess' || eachProcess.processId=='removeProcess' " mat-raised-button class="list-button-light project-action-btn" style="margin-top: 15px;margin-right: 25px;" (click)="tabChangeForEditProject(project,eachProcess)">{{eachProcess.processTitle}}</button>

                    </div>

                    <div class="list-section-value" style=" margin-right: 25px;">
                        <button mat-raised-button class="list-button-light project-action-btn" style="margin-top: 15px;" (click)="tabChangeForCopyProject(project)">{{uiLabels.copyBtn}}</button>
                    </div>
                </div>

                <div style="display: flex;justify-content: flex-end;align-items: center;flex-wrap: wrap;">

                    <div class="list-section-value" *ngFor="let eachProcess of project.processsList">

                        <button *ngIf="eachProcess.processId!='editProcess' && eachProcess.processId!='removeProcess' " mat-raised-button class="list-button-light project-action-btn" style="margin-top: 15px;margin-right: 25px;" (click)="tabChangeForEditProject(project,eachProcess)">{{eachProcess.processTitle}}</button>

                    </div>
                    <div class="list-section-value" style="margin-right: 25px;">

                        <button mat-raised-button class="list-button-light project-action-btn" style="margin-top: 15px;" (click)="viewSchedulePopupOpen(project)">
                            {{uiLabels.viewSchedule}}
                        </button>

                    </div>

                    <!-- <div class="list-section-value" style=" margin-right: 25px;">
                                        <button mat-raised-button class="list-button-light" style="margin-top: 15px;" (click)="projectViewPopupOpen(project)">{{uiLabels.viewBtn}}</button>
                                    </div> -->

                    <div *ngIf="project.isTransporter" class="list-section-value" style=" margin-right: 25px;">

                        <button mat-raised-button class="list-button-light project-action-btn" style="margin-top: 15px;" (click)="redirectToCreateSchedule(project)">
                            {{uiLabels.createScheduleButton}}
                        </button>

                    </div>

                    <div *ngIf="((project.dumperPartner && project.dumperPartner.assignRoles==processorCompanyTitle && project.dumperPartner.companyInfoId==companyId) || (project.transporterPartner && project.transporterPartner.assignRoles==processorCompanyTitle && project.transporterPartner.companyInfoId==companyId) || (project.processorPartner && project.processorPartner.assignRoles==processorCompanyTitle && project.processorPartner.companyInfoId==companyId) ) && project.status.statusId=='statusProjectInUse'" class="list-section-value" style=" margin-right: 25px;">

                        <button mat-raised-button class="list-button-light project-action-btn" style="margin-top: 15px;" (click)="redirectToProcessCompletion()">
                            {{uiLabels.processCompletion}}
                        </button>

                    </div>


                </div>


            </div>

        </div>



    </div>

    <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.projectTitle}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <mat-label (click)="projectViewPopupOpen(project)">{{project.projectTitle}}</mat-label>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.projectCreationDate}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.projectCreationDate.substring(0,10)}}</mat-label>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.projectStartDate}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.projectStartDate.substring(0,10)}}</mat-label>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.projectEndDate}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.projectEndDate.substring(0,10)}}</mat-label>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.oparatingBranch}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.operatingOfficeName}}</mat-label>
            </div>

        </div>
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.staus}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.status.statusName}}</mat-label>
            </div>

        </div>
        <div fxLayout="row wrap">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.wasteItem}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <mat-chip-list *ngFor="let waste of project.wasteProcessInfo" style="margin-right: 5px;">
                <mat-chip>{{waste.wasteItemName}}</mat-chip>
            </mat-chip-list>
            <div fxFlex="90 1 auto">
                &nbsp;
            </div>
        </div>
        <div fxLayout="row wrap" *ngIf="project.transporterPartner && project.transporterPartner.companyInfoId">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.businessPartner}} </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <mat-chip-list>
                <mat-chip *ngIf="project.transporterPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                <mat-chip *ngIf="project.transporterPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                <mat-chip *ngIf="project.transporterPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
            </mat-chip-list>
            <div fxFlex="90 1 auto" fxLayoutAlign="centar start">
                <mat-label>{{project.transporterPartner.companyName}}<span *ngIf="project.companyId==project.transporterPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
            </div>

        </div>

        <div fxLayout="row wrap" *ngIf="project.dumperPartner && project.dumperPartner.companyInfoId">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>&nbsp; </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>&nbsp;</mat-label>
            </div>
            <mat-chip-list>
                <mat-chip *ngIf="project.dumperPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                <mat-chip *ngIf="project.dumperPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                <mat-chip *ngIf="project.dumperPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
            </mat-chip-list>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.dumperPartner.companyName}}<span *ngIf="project.companyId==project.dumperPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
            </div>

        </div>


        <div fxLayout="row wrap" *ngIf="project.processorPartner && project.processorPartner.companyInfoId">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>&nbsp; </mat-label>
            </div>
            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>&nbsp;</mat-label>
            </div>
            <mat-chip-list>
                <mat-chip *ngIf="project.processorPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                <mat-chip *ngIf="project.processorPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                <mat-chip *ngIf="project.processorPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
            </mat-chip-list>
            <div fxFlex="90 1 auto">
                <mat-label>{{project.processorPartner.companyName}}<span *ngIf="project.companyId==project.processorPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
            </div>

        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start start">
            <button mat-raised-button class="list-button-light" (click)="viewSchedulePopupOpen(project)">
                {{uiLabels.viewSchedule}}
            </button>
            <!-- <button mat-raised-button class="list-button-light" (click)="projectViewPopupOpen(project)">
                                    {{uiLabels.viewBtn}}
                                </button> -->
            <div fxFlex="60 1 30px;" fxLayoutAlign="start start">
                <mat-label>&nbsp;</mat-label>
            </div>
            <button mat-raised-button class="list-button-light" (click)="tabChangeForEditProject(project,[])">
                {{uiLabels.editBtn}}
            </button>
            <div fxFlex="60 1 30px;" fxLayoutAlign="start start">
                <mat-label>&nbsp;</mat-label>
            </div>
            <!-- <button mat-raised-button class="list-button-light" (click)="tabChangeForCopyProject(project)">
                                    {{uiLabels.copyBtn}}
                                </button> -->

        </div>

    </div>

</div>