<div *ngIf="viewContent" style="height: 100%;width: 90vw;">

    <div>
        <!-- <div fxLayout="row">
            <mat-toolbar style="background-color: rgb(221, 221, 221);">
                <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                    <span *ngIf="isSystemAdmin">
                        <app-lang-def-button [componentCode]="componentCode">
                        </app-lang-def-button>
                    </span>
                    {{uiLabels.headerLabel}}
                </mat-label>
                <div fxLayoutAlign="end center" style="margin-right: 40px;">
                    <button id="addBranchBtn" mat-raised-button color="primary" [mat-dialog-close]="this.bankAccountData">{{uiLabels.addButton}}</button>
                </div>
            </mat-toolbar>
        </div> -->

        <div class="row" style="display: flex;flex: 1; padding: 15px; background-color:rgb(221, 221, 221);margin:15px 0px 15px 0px;">

            <mat-radio-group [(ngModel)]="useSavedAccount" class="column" style="display: flex;justify-content: flex-start;align-items: center;margin-right: 15px;">
                <mat-radio-button class="checkboxInput" style="width: 15px;" type="radio" name="check" [value]="true" (click)="updateListSelection($event)" color="primary"></mat-radio-button>
                <!-- <input class="checkboxInput" style="width: 15px;" type="radio" name="check" [(ngModel)]="useSavedAccount" (click)="updateListSelection($event)" /> -->
                <label for="check" style="margin: 6px; font-size: 16px;">{{uiLabels.useSavedAccountRadio}}</label>
            </mat-radio-group>

            <mat-radio-group [(ngModel)]="bankAccountData.otherBankAccount" class="column" style="display: flex;justify-content: flex-start;align-items: center;">
                <mat-radio-button class="checkboxInput" style="width: 15px;" type="radio" name="check" [value]="true" (click)="updateListSelection($event)" color="primary"></mat-radio-button>
                <!-- <input class="checkboxInput" style="width: 15px;" type="radio" name="check" [(ngModel)]="bankAccountData.otherBankAccount" (click)="updateListSelection($event)" /> -->
                <label for="check" style="margin: 6px; font-size: 16px;">{{uiLabels.otherBankAccountCheck}}</label>
            </mat-radio-group>

            <div style="margin-right: 40px;display: flex;flex:1;justify-content: flex-end;align-items: center;">
                <button id="addBranchBtn" mat-raised-button color="primary" (click)="setAccountInfo()">{{uiLabels.addButton}}</button>
            </div>

        </div>

        <app-bank-account-info-popup *ngIf="bankAccountData.otherBankAccount" [bankAccountInfo]="this.bankAccountData.bankAccountInfo" [companyId]="companyId" [fromAgreement]="true" [otherBankAccount]="bankAccountData.otherBankAccount"></app-bank-account-info-popup>



        <div *ngIf="!bankAccountData.otherBankAccount">
            <div *ngFor="let item of bankAccountList">

                <div class="list-item" style="display: flex;flex:1;" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(241, 240, 240)' : ''}" (click)="selectListItem(item)">

                    <div style="display: flex;flex-direction: row;">
                        <div>
                            <mat-icon *ngIf="item.bankAccountId==selectedItem.bankAccountId" color="primary">check_box</mat-icon>
                            <mat-icon *ngIf="item.bankAccountId!=selectedItem.bankAccountId" style="color: rgb(56, 56, 56);">check_box_outline_blank</mat-icon>
                        </div>
                        <div style="flex: 1;">
                            <div class="two-section-list-row">

                                <div class="list-value-section-one">
                                    <div class="list-section-label">
                                        {{uiLabels.bankName}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>

                                    <div class="list-section-value">
                                        {{item.bankName}}
                                    </div>
                                </div>

                                <div class="list-value-section-two">
                                    <div class="list-section-label">
                                        {{uiLabels.branchName}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.branchName}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>

    </div>

    <!-- <div fxLayout="row">

        <mat-toolbar style="background-color: rgb(255, 255, 255);padding-right: 50px;" fxLayoutAlign="end center">
            <button id="{{selectedItem?.companyId + 'close'}}" mat-raised-button color="accent" style="width: 100px;" mat-dialog-close>{{uiLabels.closeButton}}</button>
        </mat-toolbar>
    </div> -->

</div>