<div fxLayout="row">
    <mat-toolbar style="background-color: rgb(250, 250, 250);">
        <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
            {{uiLabels.inquiryListTitle}}
        </mat-label>
    </mat-toolbar>
</div>

<div fxLayout="row wrap" style="padding-bottom: 10px;">
    <div fxLayout="row" fxFlex="80 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
        <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
            <mat-label>{{uiLabels.filterBy}}</mat-label>
        </div>
        <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
            <mat-label>:</mat-label>
        </div>
        <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
            <mat-radio-group color="primary" aria-label="Select an option" class="radio-group" (change)="showFirstItem(filter)" [(ngModel)]="filter" (ngModelChange)="searchByText()">
                <mat-radio-button id="unansweredRadioButton" value="Unanswered">{{uiLabels.new}}</mat-radio-button>
                <mat-radio-button id="answeredRadioButton" value="Answered">{{uiLabels.answer}}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>


</div>

<app-search-pagination (searchByText)="searchByText()"></app-search-pagination>
<mat-accordion style="width: 100%;" multi>
    <mat-expansion-panel *ngFor="let item of sortData | inquiryFilter: filter,index as i" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;">
        <mat-expansion-panel-header style="background-color:  rgb(190, 223, 223);">
            <div style="flex:1">

                <div class="three-section-list-row" style="margin-bottom: 10px;" id="{{i}}+inquiry">
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.submitionDateTime}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value" style="font-weight: 500;">
                            <mat-label>{{item.frontendDate}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.inquiryTitle}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.inquiryTitle}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">

                        </div>

                        <div class="list-section-separator">

                        </div>
                        <div class="list-section-value">

                        </div>

                    </div>


                </div>


            </div>
        </mat-expansion-panel-header>
        <div class="list-item">

            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.inquiryDetail}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.inquiryDetail}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">
                        <button id="{{i}}+inquiryResponse" mat-raised-button class="list-button" (click)="showResponse(item)">
                            {{uiLabels.response}}
                        </button>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">

                    </div>

                </div>


            </div>
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.inquiryReply}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.response}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">
                        <button id="discussionBtn-{{i}}" mat-raised-button class="list-button" (click)="showDiscussion(item)">
                            {{uiLabels.discussion}}
                        </button>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">

                    </div>

                </div>


            </div>

        </div>
    </mat-expansion-panel>
    <mat-label *ngIf="sortData.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>
</mat-accordion>