<h2 mat-dialog-title *ngIf="newCategory.categoryId.length==0">
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    {{uiLabels.addPageHeader}}
</h2>
<h2 mat-dialog-title *ngIf="newCategory.categoryId.length!=0">
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    {{uiLabels.updatePageHeader}}
</h2>
<mat-dialog-content>
    <!-- <mat-card>
        <mat-card-content> -->
    <div fxLayout="column" [ngClass]="!(isHandset$ | async) ? 'form-padding-popup' : 'form-padding-popup-mobile'" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
        <div fxLayout="row">
            <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.wasteCategoryTitle}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">

                <input id="wasteCategoryTitle" matInput [(ngModel)]="newCategory.categoryTitle">
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.wasteCategoryCode}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">

                <input id="wasteCategoryCode" matInput [(ngModel)]="newCategory.categoryCode">
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.wasteCategoryRemark}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">

                <input id="wasteCategoryCode" matInput [(ngModel)]="newCategory.remarks">
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

            </div>
        </div>

    </div>
    <!-- </mat-card-content>

    </mat-card> -->
</mat-dialog-content>
<mat-dialog-actions class="action-button-right" align="end">
    <button id="cancelBtn" mat-raised-button color="accent" mat-dialog-close>{{uiLabels.cancelBtn}}</button>
    <button id="addBtn" mat-raised-button color="primary" *ngIf="newCategory.categoryId.length==0" (click)="saveWasteCategory()">{{uiLabels.addBtn}}</button>
    <button id="updateBtn" mat-raised-button color="primary" *ngIf="newCategory.categoryId.length!=0" (click)="saveWasteCategory()">{{uiLabels.updateBtn}}</button>
</mat-dialog-actions>

<!-- [mat-dialog-close]="newWasteCategory" -->