<div class="row left" style="margin:10px 5px;">
    <div class="row" style="flex: 1;">
        <div class="list-value-section left" style="flex: 1;">

            <div class="list-section-label">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
            </div>

            <div class="list-section-label">
                <input type="text" [(ngModel)]="searchText" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" matInput>
            </div>

            <div class="list-section-separator button-gap">
                <button mat-raised-button class="list-button-light" (click)="search()">
                    <mat-icon>search</mat-icon>{{uiLabels.searchButton}}
                </button>
            </div>
            <div class="list-section-value button-gap" style="font-weight: 500;">
                <mat-checkbox color="primary" *ngIf="langIndex == langIndexEnglish" [(ngModel)]="caseSensitive">{{uiLabels.caseSensitiveMode}}</mat-checkbox>
            </div>
        </div>

        <div class="list-value-section right" style="flex: 1;">
            <div class="list-section-label button-gap">
                <button mat-raised-button class="list-button-light" (click)="goToPreviousPage()">
                    <mat-icon>navigate_before</mat-icon>{{uiLabels.previousButton}}
                </button>
            </div>

            <div class="list-section-separator button-gap">
                <button mat-raised-button class="list-button-light">
                    {{pageNo+1}}
                </button>
            </div>
            <div class="list-section-value button-gap">
                <button mat-raised-button class="list-button-light" (click)="goToNextPage()">
                    {{uiLabels.nextButton}}<mat-icon>navigate_next</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>