<div fxLayout="row">

    <mat-toolbar style="background-color: rgb(235, 235, 235);">

        <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
            {{uiLabels.scaleList}}
        </mat-label>

        <div fxLayoutAlign="end center" style="margin-right: 40px;">
            <button id="addScaleInfoButton" mat-raised-button color="primary" (click)="openScaleSettingInfoDiolog()">{{uiLabels.addBtn}}</button>
        </div>

    </mat-toolbar>

</div>

<mat-card *ngFor="let item of companyInfo.scaleSettingInfo, index as i" class="common-list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">

    <mat-card-content>

        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.nameOfScale}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.nameOfScale}}</mat-label>
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.capacity}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.capacity}}</mat-label>
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.scaleNumber}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.scaleNumber}}</mat-label>
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.quantity}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto">
                    <mat-label>{{item.quantity}}</mat-label>
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.registNo}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto" fxLayoutAlign="start center">
                    <mat-label>{{item.registrationNo}}</mat-label>
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                    <mat-label>{{uiLabels.reponsiblePerson}}</mat-label>
                </div>
                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>:</mat-label>
                </div>
                <div fxFlex="90 1 auto" fxLayoutAlign="start center">
                    <mat-label>{{item.personName}}</mat-label>
                </div>
                <!-- <div fxFlex="90 1 auto" fxLayoutAlign="end center">
                    <button id={{item.scaleId}} mat-raised-button class="list-button" (click)="openScaleSettingInfoDiolog(item)">{{uiLabels.editBtn}}</button>
                </div> -->
            </div>

            <div fxLayout="row" fxLayoutGap="25px">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button id="editScale+{{i}}" mat-raised-button class="list-button" style="width: 90px;" (click)="openScaleSettingInfoDiolog(item)">{{uiLabels.editBtn}}</button>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button id="removeScale+{{i}}" mat-raised-button class="list-button" style="width: 90px;" (click)="removeScale(item.scaleId)">{{uiLabels.removeButton}}</button>
                </div>
            </div>

        </div>


        <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">

            <div fxLayout="row" fxLayoutAlign="start start">

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.nameOfScale}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start start">
                        <mat-label>{{item.nameOfScale}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.capacity}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>{{item.capacity}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 15">
                    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
                        <button id="editScale+{{i}}" mat-raised-button class="list-button" style="width: 90px;" (click)="openScaleSettingInfoDiolog(item)">{{uiLabels.editBtn}}</button>
                    </div>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.scaleNumber}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start start">
                        <mat-label>{{item.scaleNumber}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.quantity}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>{{item.quantity}}</mat-label>
                    </div>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.registNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="95 1 auto" fxLayoutAlign="start center">
                        <mat-label>{{item.registrationNo}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 40">
                    <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.reponsiblePerson}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>{{item.personName}}</mat-label>
                    </div>
                </div>

                <div fxFlex="1 1 15">
                    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">

                        <button id="removeScale+{{i}}" mat-raised-button class="list-button" style="width: 90px;" (click)="removeScale(item.scaleId)">{{uiLabels.removeButton}}</button>
                    </div>
                </div>

            </div>

        </div>

    </mat-card-content>

</mat-card>