<div *ngIf="viewComponent">
    <div fxLayout="row">
        <mat-toolbar style="background-color: rgb(235, 235, 235);">
            <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.pageHeader}}
            </mat-label>
        </mat-toolbar>
    </div>

    <app-search-pagination (searchByText)="searchByText()"></app-search-pagination>
    <mat-accordion style="width: 100%;" multi>
        <mat-expansion-panel *ngFor="let item of removedDataList ,index as i" style="margin-bottom: 5px;">
            <mat-expansion-panel-header id="typeHeader" style="background-color:  rgb(190, 223, 223);">
                <div style="flex:1">

                    <div class="three-section-list-row" style="margin-bottom: 10px;" id="wasteRequest+{{i}}">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.removeDate}}</mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value" style="font-weight: 500;">
                                <mat-label>{{item.removeTime}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.itemTitle}}</mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{item.dataTitle}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.operationType}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{uiLabels[item.operationType]}}</mat-label>
                            </div>

                        </div>


                    </div>


                </div>
            </mat-expansion-panel-header>
            <div class="list-item">


                <div class="three-section-list-row">
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.userName}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.userName}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.companyName}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.userCompanyName}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">

                        </div>

                        <div class="list-section-separator">

                        </div>
                        <div class="list-section-value">
                            <button id="restoreButton+{{i}}" mat-raised-button class="list-button" (click)="restore(item)">
                                {{uiLabels.restroreButton}}
                            </button>
                        </div>

                    </div>


                </div>



            </div>
        </mat-expansion-panel>
        <mat-label *ngIf="removedDataList.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>
    </mat-accordion>

</div>