<mat-card style="border:solid rgb(224, 217, 217) 2px;">
    <div [ngClass]="!(isHandset$ | async) ? 'form-padding' : ''">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 10px;">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.basePriceSelect}}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content style="margin-top: 20px;">

            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">

                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wasteItem}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{companyWaste.wasteItem}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="isTransporter">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.transportPrice}} </mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="transportPrice" matInput placeholder="" [(ngModel)]="companyWaste.transportPrice">

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="isProcessorCompany">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.processingPrice}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="processingPrice" matInput placeholder="" [(ngModel)]="companyWaste.processingPrice">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="remarks" matInput placeholder="" [(ngModel)]="companyWaste.remarks">
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="!(isHandset$ | async)">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>&nbsp;</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>&nbsp;</mat-label>
                    </div>

                    <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
                        <button id="close" mat-raised-button color="accent" mat-dialog-close="">{{uiLabels.close}}</button>
                    </div>
                    <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
                        <button id="save" mat-raised-button color="primary" type="submit" [mat-dialog-close]="companyWaste">{{uiLabels.addButton}}</button>
                    </div>
                </div>

            </div>

            <div fxLayout="column" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.wasteItem}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <mat-label>{{companyWaste.wasteItem}}</mat-label>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.transportPrice}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="transportPrice" matInput placeholder="" [(ngModel)]="companyWaste.transportPrice">

                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.processingPrice}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="processingPrice" matInput placeholder="" [(ngModel)]="companyWaste.processingPrice">

                </div>


                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </u>
                </div>

                <div fxFlex="90 1 auto">
                    <input type="text" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" id="remarks" matInput placeholder="" [(ngModel)]="companyWaste.remarks">

                </div>

                <div fxLayout="column" *ngIf="(isHandset$ | async)" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">

                    <div fxLayout="row" fxLayoutAlign="center center" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
                        <div fxFlex="0 1 80px" fxLayoutAlign="center center">
                            <button id="close" mat-raised-button color="accent" mat-dialog-close="">{{uiLabels.close}}</button>
                        </div>
                        <div fxFlex="0 1 80px" fxLayoutAlign="center center">
                            <button id="save" mat-raised-button color="primary" type="submit" [mat-dialog-close]="companyWaste">{{uiLabels.addButton}}</button>
                        </div>
                    </div>
                </div>
            </div>


        </mat-card-content>
    </div>
</mat-card>