<!-- Partner List Header-->
<div>
    <div fxLayout="row">
        <mat-toolbar style="background-color: rgb(235, 235, 235);">
            <mat-label fxLayoutAlign="start center" fxFlex="1 1 90%">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.headerLabel}}
            </mat-label>

            <div fxFlex="0 1 auto" style="padding-right: 100px;" fxLayoutAlign="center end">
                <button id="companyInvitation" mat-raised-button class="list-button-medium" style="padding: 0px 5px;" type="click" (click)="openCompanyInvitationDiolog(companyInfo)">{{uiLabels.companyInvitation}}</button>
            </div>
            <div fxFlex="0 1 auto" style="padding-right: 100px;" fxLayoutAlign="center end">
                <button id="subscriptionForm" mat-raised-button class="list-button" style="padding: 0px 5px;" type="click" (click)="openSubscriotiuonFormPopup()">{{uiLabels.subscriptionForm}}</button>
            </div>
        </mat-toolbar>
        <mat-divider>
        </mat-divider>
    </div>

    <div class="filter-section">
        <div>{{uiLabels.filterLabel}} : </div>
        <div *ngFor="let eachFilter of companyCategories">
            <input [(ngModel)]="eachFilter.isSelected" class="checkboxInput" style="width: 15px;margin-right: 5px;" type="checkbox" name="check" (ngModelChange)="searchByText()" />
            <label for="check"> {{eachFilter.title}}</label>
        </div>
    </div>

    <app-search-pagination (searchByText)="searchByText()"></app-search-pagination>
    <mat-card *ngFor="let item of partnerList | companyCategoryFilter: companyCategories" class="common-list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">
        <!-- <mat-card-content id={{item}}> -->
        <div class="list-item">
            <div class="three-section-list-row" style="margin-bottom: 10px;">
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.companyName}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.companyName}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.businessTypeLabel}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <!-- <div class="list-section-value"> -->
                    <mat-chip-list class="example-chip" cdkDropList>
                        <mat-chip class="example-box" cdkDrag *ngFor="let eachCategory of item.companyBusinessCategory">
                            {{eachCategory}}
                        </mat-chip>
                    </mat-chip-list>
                    <!-- </div> -->

                </div>
                <div class="list-action-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">
                        <button id={{item.companyId}} mat-raised-button class="list-button" type="click" (click)="openPartnerDetailsPopup(item)">{{uiLabels.viewBtn}}</button>
                    </div>

                </div>
            </div>

        </div>

    </mat-card>

    <mat-label *ngIf="partnerList.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>

</div>