<mat-card *ngIf="viewComponent">

    <mat-card-title style="background-color: rgb(233, 233, 233);padding: 15px;font-size: 16px; font-weight: 500;">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>{{uiLabels.tripTime}}: {{tripInfo.startTimeView}} - {{tripInfo.endTimeView}}
    </mat-card-title>
    <mat-dialog-content>
        <div class="three-section-list-row" style="margin-bottom: 10px;">
            <div class="list-value-section">
                <div class="list-section-label" style="font-weight: 500;">
                    {{uiLabels.pickQuantity}}
                </div>

                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input type="number" matInput [(ngModel)]="pickInfo.quantity" (input)="calculateQuantity(pickInfo.quantity)">
                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">

                </div>

                <div class="list-section-separator">
                </div>
                <div class="list-section-value">

                </div>

            </div>
            <div class="list-value-section">
                <div class="list-section-label">
                </div>

                <div class="list-section-separator">
                </div>
                <div class="list-section-value">

                </div>

            </div>


        </div>
        <mat-card>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                                Disposal Information
                            </mat-expansion-panel-header> -->
            <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.wastePickInformation}} </mat-card-title>
            <mat-card-content>
                <div class="list-item" style="background-color:rgb(208, 244, 247);">
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section" style="font-weight: 500;">
                            <div class="list-section-label">
                                {{uiLabels.wasteItem}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.wasteItemName}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.measuringUnit}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.unit}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <!-- Drop Location -->
                            </div>

                            <div class="list-section-separator">

                                <!-- : -->
                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>


                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.disposalId}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.disposalViewId}}
                            </div>

                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.pickLocation}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.dropLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.dropLocation}}
                            </div>

                        </div>

                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.totalQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.quantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.planedQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{diposalInfo.planQuantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.remainingQuantity}}
                            </div>

                            <div class="list-section-separator">

                                :
                            </div>
                            <div *ngIf="diposalInfo.remainingQuantity>-1" class="list-section-value">
                                {{diposalInfo.remainingQuantity}}
                            </div>
                            <div *ngIf="diposalInfo.remainingQuantity<0" class="list-section-value" style="color: red;">
                                {{diposalInfo.remainingQuantity}}
                            </div>


                        </div>


                    </div>
                </div>
            </mat-card-content>
            <!-- </mat-expansion-panel>
                    </mat-accordion> -->
        </mat-card>
        <mat-card>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                                Vehicle Information
                            </mat-expansion-panel-header> -->
            <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.vehicleInformation}} </mat-card-title>
            <mat-card-content>
                <div class="list-item">
                    <div class="three-section-list-row" style="margin-bottom: 10px;font-weight: 500;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.vehicleName}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.manufacturerName}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.vehiclLicenseNo}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.vehicleRegNo}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.driverName}}
                            </div>

                            <div class="list-section-separator">

                                :
                            </div>
                            <div class="list-section-value">
                                {{tripInfo.driverName}}
                            </div>

                        </div>


                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.capacity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.vehicleCapacity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.loadedQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{vehicleInfo.vehicleLoadQuantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.freeSpacee}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div *ngIf="vehicleInfo.vehicleFreeSpace>-1" class="list-section-value">
                                {{vehicleInfo.vehicleFreeSpace}}
                            </div>
                            <div *ngIf="vehicleInfo.vehicleFreeSpace<0" class="list-section-value" style="color: red;">
                                {{vehicleInfo.vehicleFreeSpace}}
                            </div>

                        </div>


                    </div>
                </div>
            </mat-card-content>
            <!-- </mat-expansion-panel>
        
                    </mat-accordion> -->
        </mat-card>

        <mat-card>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                        Pick List
                    </mat-expansion-panel-header> -->
            <mat-card-title style="font-size: large;margin-left: 10px;">{{uiLabels.pickList}} </mat-card-title>
            <!-- <label style="font-weight: 500;">} :</label> -->
            <mat-card-content>
                <div class="list-item" *ngFor="let pick of tripInfo.pickList">
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.projectTitle}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.projectTitle}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.pickLocation}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.dropLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.dropLocation}}
                            </div>

                        </div>






                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.wasteItem}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.wasteItemName}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.quantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <!-- Drop Location -->
                            </div>

                            <div class="list-section-separator">

                                <!-- : -->
                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>

                    </div>
                </div>
            </mat-card-content>
            <!-- </mat-expansion-panel>

            </mat-accordion> -->
        </mat-card>
    </mat-dialog-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeBtn}}</button>
        <button mat-raised-button color="primary" (click)="onClickAddPickBtn()">{{uiLabels.addPickBtn}}</button>

    </mat-card-actions>
</mat-card>