<div fxLayout="row">
    <mat-toolbar style="background-color: rgb(235, 235, 235);">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">{{uiLabels.faqHeader}}</mat-label>

    </mat-toolbar>
    <mat-divider>
    </mat-divider>
</div>
<mat-card *ngFor="let item of preparedFaqDataList,index as i" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;box-shadow: none;">
    <mat-accordion style="width: 100%;" multi>
        <!-- style="background-color: rgb(245, 248, 248); -->
        <mat-expansion-panel>
            <mat-expansion-panel-header fxLayout="row" id="categoryHeader" style="padding-bottom: 15px;background-color: rgb(238, 245, 245);padding-top: 15px;">
                <div>
                    <div fxFlex="0 0 90px" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>{{uiLabels.faqTypeHeader}}</mat-label>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="0 0 80%" fxLayout="column" fxLayoutAlign="center start">
                        <mat-label>{{item.faq.faqType}}</mat-label>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <mat-accordion style="width: 100%;" multi>

                <mat-expansion-panel *ngFor="let faqInfo of item.faqInfoList ">
                    <mat-expansion-panel-header>
                        <div fxLayout="row wrap" fxFlex *ngIf="!(isHandset$ | async)">
                            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="1 1 85%">
                                <mat-label>{{uiLabels.question}} . {{faqInfo.faqInfoQuestion}}</mat-label>

                            </div>

                        </div>

                        <div fxLayout="row wrap" fxFlex *ngIf="(isHandset$ | async)">
                            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="1 1 55%">
                                <mat-label>{{uiLabels.question}} . {{faqInfo.faqInfoQuestion}}</mat-label>

                            </div>

                        </div>
                    </mat-expansion-panel-header>
                    <mat-label>{{uiLabels.answer}} . {{faqInfo.faqInfoAnswer}}</mat-label>

                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>



</mat-card>