<!-- <mat-dialog-content> -->


<mat-card style="height: 450px;width: 630px;">
    <mat-card-title>
        {{file.title}}
    </mat-card-title>
    <img *ngIf="file.image" src={{file.image}}>
    <!-- <label *ngIf="!file.image" style="font-size: medium;">{{uiLabels.mesaage}}</label> -->
    <label *ngIf="!file.image" style="font-size: medium;">No File Upload</label>
</mat-card>
<!-- 
</mat-dialog-content> -->
<mat-card-actions align="end">
    <button style="margin-right: 25px;" id="closeBtn" mat-raised-button color="accent" mat-dialog-close id='closeBtn'>
        {{uiLabels.closeBtn}}
    </button>

</mat-card-actions>