<div *ngIf="viewContent">
    <mat-card>
        <mat-card-title><span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span> {{uiLabels.methodeSelectionPopup}}</mat-card-title>
        <mat-dialog-content *ngIf="isDumpingMethode">
            <div style="background-color: rgb(235, 235, 235);height: 40px;">
                <label>{{uiLabels.selectDumpingMethode}}</label>
            </div>


            <div *ngFor="let item of dxrwasteItemMethode.dumperCo2EmissionMethodeList">
                <div class="list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(241, 240, 240)' : ''}" (click)="selectListItem(item)">

                    <div style="display: flex;flex-direction: row;">
                        <div>
                            <mat-icon *ngIf="dxrwasteItemMethode.dumperCo2EmissionDefaultMethodeId==item.methodeId" color="primary">check_box</mat-icon>
                            <mat-icon *ngIf="dxrwasteItemMethode.dumperCo2EmissionDefaultMethodeId!=item.methodeId" style="color: rgb(56, 56, 56);">check_box_outline_blank</mat-icon>
                        </div>
                        <div style="flex: 1;">

                            <div class="three-section-list-row">
                                <div class="list-value-section">
                                    <div class="list-section-label">

                                        {{uiLabels.methodeName}}
                                    </div>

                                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.methodeTitle}}
                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.emissionQuantity}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        <span><input type="number" id="emissionQuantity" matInput placeholder="" [(ngModel)]="item.emissionQuantityPerUnit"> / gm</span>

                                    </div>

                                </div>
                                <div class="list-value-section">


                                </div>


                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </mat-dialog-content>
        <div *ngIf="!isDumpingMethode">
            <div style="background-color: rgb(235, 235, 235);height: 40px;">
                <label>{{uiLabels.selectProcessingMethode}}</label>
            </div>

            <div *ngFor="let item of dxrwasteItemMethode.processorCo2EmissionMethodeList">
                <div class="list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(241, 240, 240)' : ''}" (click)="selectListItem(item)">

                    <div style="display: flex;flex-direction: row;">
                        <div>
                            <mat-icon *ngIf="dxrwasteItemMethode.processorCo2EmissionDefaultMethodeId==item.methodeId" color="primary">check_box</mat-icon>
                            <mat-icon *ngIf="dxrwasteItemMethode.processorCo2EmissionDefaultMethodeId!=item.methodeId" style="color: rgb(56, 56, 56);">check_box_outline_blank</mat-icon>
                        </div>
                        <div style="flex: 1;">

                            <div class="three-section-list-row">
                                <div class="list-value-section">
                                    <div class="list-section-label">

                                        {{uiLabels.methodeName}}
                                    </div>

                                    <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.methodeTitle}}
                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.emissionQuantity}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        <span><input type="number" id="emissionQuantity" matInput placeholder="" [(ngModel)]="item.emissionQuantityPerUnit"> / gm</span>

                                    </div>

                                </div>
                                <div class="list-value-section">


                                </div>


                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- </mat-dialog-content> -->
    </mat-card>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" mat-dialog-close>
            {{uiLabels.closeBtn}}
        </button>
        <button mat-raised-button color="primary" (click)="onClickAddBtn()">
            {{uiLabels.addBtn}}
        </button>
    </mat-card-actions>
</div>