<mat-card>
    <div>
        <!-- <div fxLayoutAlign="center start"> -->
        <mat-card-header style="padding-bottom: 20px;">
            <mat-card-title style="padding-bottom: 10px;">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.title}}
            </mat-card-title>
        </mat-card-header>
        <!-- </div> -->

        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.companyName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{subscriptinDetail.companyName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>


                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        {{uiLabels.address}}
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{subscriptinDetail.address}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.conatctNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{subscriptinDetail.contactNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <!-- <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        {{uiLabels.subscriptionEmail}}
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{subscriptinDetail.subscriptionEmail}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div> -->
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.companyCategory}} </mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto" fxLayout="row">
                        <div *ngFor=" let category of subscriptinDetail.companyCategory,index as i">
                            <mat-label *ngIf="i==0">{{category}} </mat-label>
                            <mat-label *ngIf="i>0">, {{category}}</mat-label>

                        </div>

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.subscriberName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <mat-label>{{subscriptinDetail.subscriberName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>



                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.subscriberMail}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{subscriptinDetail.subscriberMail}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
            </div>
            <div fxLayout="column" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">
                <div>
                    <u>

                        <mat-label>{{uiLabels.companyName}}</mat-label>
                    </u>
                </div>
                <div>
                    <mat-label>{{subscriptinDetail.companyName}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.address}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{subscriptinDetail.address}}</mat-label>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.conatctNo}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{subscriptinDetail.contactNo}}</mat-label>
                </div>
                <!-- <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.subscriptionEmail}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{subscriptinDetail.subscriptionEmail}}</mat-label>
                </div> -->

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.companyCategory}}</mat-label>
                    </u>

                </div>
                <div fxLayout="row wrap">

                    <div fxLayout="row" *ngFor=" let category of subscriptinDetail.companyCategory,index as i">

                        <mat-label *ngIf="i==0">{{category}} </mat-label>
                        <mat-label *ngIf="i>0">, {{category}}</mat-label>

                    </div>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.subscriberName}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{subscriptinDetail.subscriberName}}</mat-label>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.subscriberMail}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{subscriptinDetail.subscriberMail}}</mat-label>
                </div>

            </div>
        </mat-card-content>
    </div>

</mat-card>





















<!-- <div>


    <mat-card>
        <mat-card-header>
            <mat-card-title style="padding-bottom: 10px;">{{uiLabels.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.companyName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label style="width: 100%;">{{subscriptinDetail.companyName}}</mat-label>

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.address}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <mat-label style="width: 100%;">{{subscriptinDetail.address}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.conatctNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <mat-label style="width: 100%;">{{subscriptinDetail.contactNo}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.subcriptionEmail}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <mat-label style="width: 100%;">{{subscriptinDetail.subscriptionEmail}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxLayout="row" fxFlex="5 1 auto">
                        <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.companyCategory}}</mat-label>
                        </div>
                        <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div *ngFor=" let category of subscriptinDetail.companyCategory, index as i">


                            <div fxFlex="10 1 auto">
                                {{i+1}}
                            </div>
                            <div fxFlex="10 1 auto" style="margin-right: 10px;">
                                <mat-label>.</mat-label>
                            </div>
                            <div fxFlex="25 1 auto" style="margin-right: 10px;">
                                <mat-label>{{category}}</mat-label>
                            </div>

                        </div>

                    </div>



                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.subscriberName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label style="width: 100%;">{{subscriptinDetail.subscriberName}}</mat-label>

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.subscriberMail}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label style="width: 100%;">{{subscriptinDetail.subscriberMail}}</mat-label>

                    </div>
                </div>


            </div>

        </mat-card-content>

    </mat-card>


</div> -->