<div *ngIf="!isPopup">
    <mat-card>
        <mat-card-title>
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span> {{uiLabels.title}}
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayoutAlign="start start">
                            <mat-label>{{uiLabels.projectTitle}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayoutAlign="start start">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectTitle}}</mat-label>
                        </div>
                    </div>
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayoutAlign="start start">
                            <mat-label>{{uiLabels.projectCreationDate}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayoutAlign="start start">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectCreationDate}}</mat-label>
                        </div>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayoutAlign="start start">
                            <mat-label>{{uiLabels.projectStartDate}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayoutAlign="start start">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectStartDate}}</mat-label>
                        </div>
                    </div>
                    <div fxFlex="1 1 40">
                        <div fxFlex="0 1 140px" fxLayoutAlign="start start">
                            <mat-label>{{uiLabels.projectEndDate}}</mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayoutAlign="start start">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectEndDate}}</mat-label>
                        </div>

                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="!isPopup">
            <button *ngIf="project.projectScheduleStatus!=projectScheduleConfirmDone" [disabled]="!isScheduleConfirmed" mat-raised-button color="primary" (click)="onClickConfirmationBtn(project)">{{uiLabels.confirmScheduleBtn}}</button>
            <mat-chip style="background-color: rgb(92, 92, 238);color: white;" *ngIf="project.projectScheduleStatus==projectScheduleConfirmDone">{{uiLabels.confirmed}}</mat-chip>

        </mat-card-actions>
    </mat-card>
    <mat-card>
        <!-- <u> -->
        <h3 style="font-weight: 500;">
            {{uiLabels.tripSchedule}} :
        </h3>
        <!-- </u> -->
        <mat-accordion *ngFor="let item of dateWiseDisposePickList" multi>
            <mat-expansion-panel style="margin-top: 10px;">
                <mat-expansion-panel-header style="height: 100%;padding: 7px;background-color:rgb(220, 240, 240);">

                    <div style="flex:1">

                        <div class="three-section-list-row" style="margin-bottom: 10px;">
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.wasteItem}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.wasteItemName}}
                                </div>

                            </div>
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.disposalId}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.disposalViewId}}
                                </div>

                            </div>
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    <mat-icon *ngIf="item.disposeInfo.scheduleConfirmStatus==disposeWiseScheduleConfirmDone" color="primary">check_box</mat-icon>
                                    <mat-icon *ngIf="item.disposeInfo.scheduleConfirmStatus==disposeWiseScheduleConfirmNotDone" style="color: rgb(56, 56, 56);">check_box_outline_blank</mat-icon>
                                </div>

                                <div class="list-section-separator">

                                    <!-- : -->
                                </div>
                                <div class="list-section-value">

                                </div>

                            </div>


                        </div>
                        <div class="three-section-list-row" style="margin-bottom: 10px;">
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.pickLocation}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.pickLocation}}
                                </div>

                            </div>
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.dropLocation}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.dropLocation}}
                                </div>

                            </div>
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.pickQuantity}}({{item.disposeInfo.unit}})
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.quantity}}

                                </div>

                            </div>


                        </div>
                        <div class="three-section-list-row">
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.date}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">

                                </div>

                            </div>
                            <div class="list-value-section">
                                <div class="list-section-label">

                                    {{uiLabels.from}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.fromDateView}}

                                </div>

                            </div>
                            <div class="list-value-section">
                                <div class="list-section-label">
                                    {{uiLabels.to}}
                                </div>

                                <div class="list-section-separator">
                                    :
                                </div>
                                <div class="list-section-value">
                                    {{item.disposeInfo.toDateView}}

                                </div>

                            </div>


                        </div>

                    </div>

                </mat-expansion-panel-header>
                <div *ngFor="let groupedItem of item.groupedPickList,index as i ">
                    <!-- <div style="flex:1"> -->
                    <mat-chip style="margin: 15px 10px 10px 10px; font-weight: 500;">{{uiLabels.date}} : {{groupedItem.date}}</mat-chip>
                    <div *ngFor="let disposalPick of groupedItem.picks,index as i ">

                        <div class="list-item">
                            <div fxLayout="column">
                                <div fxLayout="row">
                                    <div fxFlex="0 0 25%">
                                        <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                            {{uiLabels.pickNo}}
                                        </div>
                                        <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                            :
                                        </div>
                                        <div fxFlex="90 1 auto">
                                            {{i+1}}
                                        </div>

                                    </div>
                                    <div fxFlex="0 0 25%">
                                        <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                            {{uiLabels.pickQuantity}}
                                        </div>
                                        <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                            :
                                        </div>
                                        <div fxFlex="90 1 auto">
                                            {{disposalPick.quantity}}
                                        </div>
                                    </div>
                                    <div fxFlex="0 0 25%">
                                        <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                            {{uiLabels.driverName}}
                                        </div>
                                        <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                            :
                                        </div>
                                        <div fxFlex="90 1 auto">
                                            {{disposalPick.tripInfo.driverName}}
                                        </div>
                                    </div>
                                    <div fxFlex="0 0 25%">
                                        <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                            {{uiLabels.vehiclLicenseNo}}
                                        </div>
                                        <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                            :
                                        </div>
                                        <div fxFlex="90 1 auto">
                                            {{disposalPick.tripInfo.vehicleLicenseNo}}
                                        </div>
                                    </div>




                                </div>

                            </div>

                        </div>
                    </div>




                </div>
                <!-- </div> -->
            </mat-expansion-panel>
        </mat-accordion>


    </mat-card>
</div>



<div *ngIf="isPopup && viewContent">
    <mat-card-title>
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span> {{uiLabels.title}}
    </mat-card-title>
    <mat-dialog-content>
        <mat-card>

            <mat-card-content>
                <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>{{uiLabels.projectTitle}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectTitle}}</mat-label>
                            </div>
                        </div>
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>{{uiLabels.projectCreationDate}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectCreationDate}}</mat-label>
                            </div>
                        </div>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>{{uiLabels.projectStartDate}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectStartDate}}</mat-label>
                            </div>
                        </div>
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>{{uiLabels.projectEndDate}}</mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="start start">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectEndDate}}</mat-label>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end" *ngIf="!isPopup">
                <button *ngIf="project.projectScheduleStatus!=projectScheduleConfirmDone" [disabled]="!isScheduleConfirmed" mat-raised-button color="primary" (click)="onClickConfirmationBtn(project)">{{uiLabels.confirmScheduleBtn}}</button>
                <mat-chip style="color:red;background-color:rgb(235, 235, 187);" *ngIf="project.projectScheduleStatus==projectScheduleConfirmDone">{{uiLabels.confirmed}}</mat-chip>

            </mat-card-actions>
        </mat-card>
        <mat-card>
            <!-- <u> -->
            <h3 style="font-weight: 500;">
                {{uiLabels.tripSchedule}} :
            </h3>
            <!-- </u> -->
            <mat-accordion *ngFor="let item of dateWiseDisposePickList" multi>
                <mat-expansion-panel style="margin-top: 10px;">
                    <mat-expansion-panel-header style="height: 100%;padding: 7px;background-color:rgb(220, 240, 240);">

                        <div style="flex:1">

                            <div class="three-section-list-row" style="margin-bottom: 10px;">
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.wasteItem}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.wasteItemName}}
                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.disposalId}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.disposalViewId}}
                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        <!-- Drop Location -->
                                    </div>

                                    <div class="list-section-separator">

                                        <!-- : -->
                                    </div>
                                    <div class="list-section-value">

                                    </div>

                                </div>


                            </div>
                            <div class="three-section-list-row" style="margin-bottom: 10px;">
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.pickLocation}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.pickLocation}}
                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.dropLocation}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.dropLocation}}
                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.pickQuantity}}({{item.disposeInfo.unit}})
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.quantity}}

                                    </div>

                                </div>


                            </div>
                            <div class="three-section-list-row">
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.date}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">

                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">

                                        {{uiLabels.from}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.fromDateView}}

                                    </div>

                                </div>
                                <div class="list-value-section">
                                    <div class="list-section-label">
                                        {{uiLabels.to}}
                                    </div>

                                    <div class="list-section-separator">
                                        :
                                    </div>
                                    <div class="list-section-value">
                                        {{item.disposeInfo.toDateView}}

                                    </div>

                                </div>


                            </div>

                        </div>

                    </mat-expansion-panel-header>
                    <div *ngFor="let groupedItem of item.groupedPickList,index as i ">
                        <!-- <div style="flex:1"> -->
                        <mat-chip style="margin: 15px 10px 10px 10px; font-weight: 500;">{{uiLabels.date}} : {{groupedItem.date}}</mat-chip>
                        <div *ngFor="let disposalPick of groupedItem.picks,index as i ">
                            <div class="list-item">
                                <div fxLayout="column">
                                    <div fxLayout="row">
                                        <div fxFlex="0 0 25%">
                                            <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                                {{uiLabels.pickNo}}
                                            </div>
                                            <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                                :
                                            </div>
                                            <div fxFlex="90 1 auto">
                                                {{i+1}}
                                            </div>

                                        </div>
                                        <div fxFlex="0 0 25%">
                                            <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                                {{uiLabels.pickQuantity}}
                                            </div>
                                            <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                                :
                                            </div>
                                            <div fxFlex="90 1 auto">
                                                {{disposalPick.quantity}}
                                            </div>
                                        </div>
                                        <div fxFlex="0 0 25%">
                                            <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                                {{uiLabels.driverName}}
                                            </div>
                                            <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                                :
                                            </div>
                                            <div fxFlex="90 1 auto">
                                                {{disposalPick.tripInfo.driverName}}
                                            </div>
                                        </div>
                                        <div fxFlex="0 0 25%">
                                            <div fxFlex="0 0 120px" fxLayout="row" fxLayoutAlign="end center">
                                                {{uiLabels.vehiclLicenseNo}}
                                            </div>
                                            <div fxFlex="0 0 30px" fxLayout="row" fxLayoutAlign="center center">
                                                :
                                            </div>
                                            <div fxFlex="90 1 auto">
                                                {{disposalPick.tripInfo.vehicleLicenseNo}}
                                            </div>
                                        </div>




                                    </div>

                                </div>

                            </div>


                            <!-- <div class="list-item">
                                <div class="three-section-list-row" style="margin-bottom: 10px;">
                                    <div class="list-value-section">
                                        <div class="list-section-label">
                                            {{uiLabels.pickNo}}
                                        </div>

                                        <div class="list-section-separator">
                                            :
                                        </div>
                                        <div class="list-section-value">
                                            {{i+1}}
                                        </div>

                                    </div>
                                    <div class="list-value-section">
                                        <div class="list-section-label">
                                            {{uiLabels.date}}
                                        </div>

                                        <div class="list-section-separator">
                                            :
                                        </div>
                                        <div class="list-section-value">
                                            {{disposalPick.tripInfo.pickUpDate}}
                                        </div>

                                    </div>
                                    <div class="list-value-section">
                                        <div class="list-section-label">
                                            {{uiLabels.pickQuantity}}
                                        </div>

                                        <div class="list-section-separator">

                                            :
                                        </div>
                                        <div class="list-section-value">
                                            {{disposalPick.quantity}}
                                        </div>

                                    </div>


                                </div>
                                <div class="three-section-list-row" style="margin-bottom: 10px;">
                                    <div class="list-value-section">
                                        <div class="list-section-label">
                                            {{uiLabels.vehiclLicenseNo}}
                                        </div>

                                        <div class="list-section-separator">
                                            :
                                        </div>
                                        <div class="list-section-value">
                                            {{disposalPick.tripInfo.vehicleLicenseNo}}
                                        </div>

                                    </div>
                                    <div class="list-value-section">
                                        <div class="list-section-label">
                                            {{uiLabels.driverName}}
                                        </div>

                                        <div class="list-section-separator">
                                            :
                                        </div>
                                        <div class="list-section-value">
                                            {{disposalPick.tripInfo.driverName}}
                                        </div>

                                    </div>
                                    <div class="list-value-section">
                                        <div class="list-section-label">

                                        </div>

                                        <div class="list-section-separator">

                                        </div>
                                        <div class="list-section-value">


                                        </div>

                                    </div>


                                </div>
                            </div> -->
                        </div>




                    </div>
                    <!-- </div> -->
                </mat-expansion-panel>
            </mat-accordion>


        </mat-card>
    </mat-dialog-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeButton}}</button>
    </mat-card-actions>

</div>