<div class="column">
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <mat-tab-group [selectedIndex]="selectedIndex" (focusChange)="onTabChange($event)" *ngIf="viewContent">
        <mat-tab label={{uiLabels.targerCompanyTab}}>
            <app-target-company-tab [dxrCompanyViewList]="dxrCompanyViewList" [search]="search" [switchToCashManifestoTab]="switchToCashManifestoTab" [targetedCompany]="targetedCompany"></app-target-company-tab>
        </mat-tab>

        <mat-tab label={{uiLabels.cashManifestTab}}>
            <app-cash-manifest-tab style="min-height: 50vh;" [cashManifestoList]="cashManifestoList" [generateCashInvoice]="generateCashInvoice"></app-cash-manifest-tab>
        </mat-tab>

    </mat-tab-group>

    <div class="row right" style="padding: 10px;flex:1;justify-content: flex-end;">
        <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeButton}}</button>
    </div>
</div>