<h2 mat-dialog-title>
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    {{uiLabels.methodeTitle}}
</h2>
<mat-dialog-content>
    <!-- <mat-card>
        <mat-card-content> -->
    <div fxLayout="column" [ngClass]="!(isHandset$ | async) ? 'form-padding-popup' : 'form-padding-popup-mobile'" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
        <div fxLayout="row">
            <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.methodeTitle}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">

                <input id="methodeTitle" matInput [(ngModel)]="methodeInfo.methodeTitle">
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.description}}</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">

                <input id="methodDescription" matInput [(ngModel)]="methodeInfo.description">
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="0 1 150px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>{{uiLabels.co2Emission}} {{wasteItemInfo.unitDef}})</mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto">

                <input type="number" id="emissionQuantityPerUnit" matInput [(ngModel)]="methodeInfo.emissionQuantityPerUnit">
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

            </div>
        </div>

    </div>
    <!-- </mat-card-content>

    </mat-card> -->
</mat-dialog-content>
<mat-dialog-actions class="action-button-right" align="end">
    <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeBtn}}</button>
    <button mat-raised-button color="primary" (click)="onClick(methodeInfo)">{{uiLabels.addBtn}}</button>
</mat-dialog-actions>

<!-- [mat-dialog-close]="newFaqType" -->
<!-- <mat-card>
    <mat-card-title><span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>{{uiLabels.addMethodeType}}</mat-card-title>
    <mat-dialog-content>
        <div class="three-section-list-row">
            <div class="list-value-section">
                <div class="list-section-label wrap">
                    <mat-label>{{uiLabels.methodeTitle}}</mat-label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-small'" matInput [(ngModel)]="methodeInfo.methodeTitle">
                </div>
            </div>


        </div>
        <div class="three-section-list-row">

            <div class="list-value-section wrap">
                <div class="list-section-label">
                    <mat-label>{{uiLabels.description}}</mat-label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-small'" matInput [(ngModel)]="methodeInfo.description">
                </div>
            </div>



        </div>
        <div class="three-section-list-row">
            <div class="list-value-section">
                <div class="list-section-label wrap">
                    {{uiLabels.co2Emission}} {{wasteItemInfo.unitDef}})
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <input type="number" [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-small'" matInput [(ngModel)]="methodeInfo.emissionQuantityPerUnit">
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeBtn}}</button>
        <button mat-raised-button color="primary" (click)="onClick(methodeInfo)">{{uiLabels.addBtn}}</button>
    </mat-card-actions>
</mat-card> -->