<mat-card *ngIf="viewComponent">
    <div [ngClass]="!(isHandset$ | async) ? 'form-padding' : ''">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 10px;">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.pageHeader}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.companyName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.companyName}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.personName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.personName}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.contactNo}} </mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.ContactNoFormated}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wasteType}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.wasteType}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wasteItem}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.wasteItem}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.unitDef}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.unitDef}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wasteShape}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.wasteShape}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wastePackage}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{selectedWaste.wastePackage}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.reply}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <mat-label>{{selectedWaste.reply}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row" style="padding-top: 15px;">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>&nbsp;</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>&nbsp;</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <button style="width: 100px;" id="reply" mat-raised-button color="primary" (click)="openReplyDialog(selectedWaste)">{{uiLabels.reply}}</button>

                    </div>

                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
            </div>
        </mat-card-content>

    </div>

</mat-card>