<!-- <mat-tab-group [selectedIndex]="selectedIndex" (focusChange)="onTabChange($event)" *ngIf="viewContent">
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <mat-tab label={{uiLabels.partnerListTabHeader}}>
        <app-partner-list-tab [getCompanyPartnerFromSearch]="getCompanyPartnerFromSearch" [companyInfo]="companyInfo" [partnerList]="partnerList"></app-partner-list-tab>
    </mat-tab>



    <mat-tab label={{uiLabels.agreementListTabHeader}}>
        <app-business-agreement-list-tab [getAgreementList]="getAgreementList" [filterItems]="filterItems" [agreementProcessDef]="agreementProcessDef" [companyInfo]="companyInfo" [agreementList]="agreementList" [editAgreement]="editAgreement" [filterItems]="filterItems" [selectedOperationFilter]="selectedOperationFilter"></app-business-agreement-list-tab>
    </mat-tab>

    <mat-tab label={{uiLabels.agreementFormTabHeader}}>
        <app-agreement-tab [tabIndex]="selectedIndex" [changeTab]="changeTab" [agreementProcessDef]="agreementProcessDef" [selectedProcess]="selectedProcess" [companyInfo]="companyInfo" [agreementList]="agreementList" [selectedAgreement]="selectedAgreement" [isViewMode]="isViewMode" [selectedOperationFilter]="selectedOperationFilter"></app-agreement-tab>
    </mat-tab>

</mat-tab-group> -->


<div *ngIf="viewContent">
    <app-business-agreement-list-tab *ngIf="isAgreementListView" [getAgreementList]="getAgreementList" [filterItems]="filterItems" [agreementProcessDef]="agreementProcessDef" [companyInfo]="companyInfo" [agreementList]="agreementList" [editAgreement]="editAgreement" [filterItems]="filterItems" [selectedOperationFilter]="selectedOperationFilter"></app-business-agreement-list-tab>
    <app-agreement-tab *ngIf="isCreateAgreementView" [isValidAgreementTitle]="isValidAgreementTitle" [tabIndex]="selectedIndex" [changeTab]="changeTab" [agreementProcessDef]="agreementProcessDef" [selectedProcess]="selectedProcess" [companyInfo]="companyInfo" [agreementList]="agreementList" [selectedAgreement]="selectedAgreement" [isViewMode]="isViewMode" [selectedOperationFilter]="selectedOperationFilter"></app-agreement-tab>
</div>