<mat-dialog-content>
    <mat-card>

        <div [ngClass]="!(isHandset$ | async) ? 'form-padding' : ''"></div>
        <mat-card-header style="padding-bottom: 20px;">
            <mat-card-title style="padding-bottom: 10px;">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.title}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.name}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.userName}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.officeName}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.officeName}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.department}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.department}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.jobTitle}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.jobTitle}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.role}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>

                    <div fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="start start">
                        <div *ngFor="let value of userInfo.userRoles, index as i" fxLayoutAlign="start start">
                            <div *ngIf="i==0">
                                {{value.roleName}}
                            </div>
                            <div *ngIf="i>0">
                                {{value.roleName}}
                            </div>
                        </div>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.email}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.userEmail}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <!-- <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.userId}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.userId}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div> -->



                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.officeAddress}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.officeAddress}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.officeContactNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{officeMobieView}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.mobileNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userMobieView}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.licenseNo}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.licenseNo}}</mat-label>


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="userInfo.drivingLicenseUpload">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <!-- <mat-label>{{uiLabels.uploadedLicensePreview}}</mat-label> -->
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <!-- <mat-label>:</mat-label> -->
                    </div>

                    <div fxFlex="90 1 auto">
                        <mat-card style="height: 100px;width: 100px;"><img class="image-preview " src={{userInfo.drivingLicenseUpload}}></mat-card>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.licenseUpload}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <button mat-raised-button class="list-button" (click)="OpenLicenseViewPopup(1)">{{uiLabels.viewFileBtn}}</button>
                        <!-- <img mat-card-image src={{userInfo.drivingLicenseUpload}} alt="Photo of a Shiba Inu"> -->


                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row" *ngIf="userInfo.userSealUploadedFile">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <!-- <mat-label>{{uiLabels.uploadedUserSealPreview}}</mat-label> -->
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <!-- <mat-label>:</mat-label> -->
                    </div>

                    <div fxFlex="90 1 auto">
                        <mat-card style="height: 100px;width: 100px;"><img class="image-preview " src={{userInfo.userSealUploadedFile}}></mat-card>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.userSealUpload}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <button mat-raised-button class="list-button" (click)="OpenLicenseViewPopup(2)">{{uiLabels.viewFileBtn}}</button>



                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{userInfo.remarks}}</mat-label>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

            </div>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">
                <div>
                    <u>

                        <mat-label>{{uiLabels.name}}</mat-label>
                    </u>
                </div>
                <div>
                    <mat-label>{{userInfo.userName}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.officeName}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.officeName}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.department}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.department}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.jobTitle}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.jobTitle}}</mat-label>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.role}}</mat-label>
                    </u>

                </div>

                <div *ngFor="let value of userInfo.userRoles, index as i">
                    <div *ngIf="i==0">
                        {{value.roleName}}
                    </div>
                    <div *ngIf="i>0">
                        {{value.roleName}}
                    </div>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.email}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.userEmail}}</mat-label>
                </div>
                <!-- <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.userId}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.userId}}</mat-label>
                </div> -->


                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.officeAddress}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.officeAddress}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.officeContactNo}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{officeMobieView}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.mobileNo}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.userContactNo}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.mobileNo}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userMobieView}}</mat-label>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.licenseNo}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.licenseNo}}</mat-label>
                </div>

                <div fxLayout="row wrap" *ngIf="userInfo.drivingLicenseUpload" style="padding-top: 10px;">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <u>
                            <!-- <mat-label>{{uiLabels.uploadedLicensePreview}}</mat-label> -->
                        </u>

                    </div>
                    <!-- <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                        <mat-label>:</mat-label>
                    </div> -->

                    <div fxFlex="90 1 auto">
                        <mat-card style="height: 100px;width: 100px;"><img class="image-preview " src={{userInfo.drivingLicenseUpload}}></mat-card>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.licenseUpload}}</mat-label>
                    </u>

                </div>
                <div>
                    <button mat-raised-button class="list-button" (click)="OpenLicenseViewPopup(1)">{{uiLabels.viewFileBtn}}</button>

                </div>
                <div fxLayout="row wrap" *ngIf="userInfo.userSealUploadedFile" style="padding-top: 10px;">
                    <div fxFlex="0 1 120px" fxLayout="column" fxLayoutAlign="center end">
                        <u>
                            <!-- <mat-label>{{uiLabels.uploadedUserSealPreview}}</mat-label> -->
                        </u>

                    </div>
                    <!-- <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                
                        <mat-label>:</mat-label>
                    </div> -->

                    <div fxFlex="90 1 auto">
                        <mat-card style="height: 100px;width: 100px;"><img class="image-preview " src={{userInfo.userSealUploadedFile}}></mat-card>

                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.userSealUpload}}</mat-label>
                    </u>

                </div>
                <div>
                    <button mat-raised-button class="list-button" (click)="OpenLicenseViewPopup(2)">{{uiLabels.viewFileBtn}}</button>

                </div>
                <div style="padding-top: 10px;">
                    <u>
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </u>

                </div>
                <div>
                    <mat-label>{{userInfo.remarks}}</mat-label>
                </div>

            </div>
        </mat-card-content>

    </mat-card>

</mat-dialog-content>
<mat-card-actions align="end">
    <button style="margin-right: 25px;" id="subscriptionDetailCancle" mat-raised-button color="accent" mat-dialog-close id='closeBtn'>
        {{uiLabels.closeBtn}}
    </button>

</mat-card-actions>