<mat-toolbar>
    <div fxLayout="row">
        <div fxFlex="0 1 250px" fxLayout="column" fxLayoutAlign="center start">
            <mat-label>
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.company}}
            </mat-label>

        </div>
        <div fxFlex="0 1 80px" fxLayout="column" fxLayoutAlign="center center">
            <mat-label>:</mat-label>
        </div>
        <div fxFlex="90 1 auto">
            <mat-label>{{companyInfo.companyName}}</mat-label>
        </div>
    </div>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selectedIndex" (focusChange)="indexChange($event.index)">
    <mat-tab label={{uiLabels.companyInfoTab}}>
        <!-- <app-company-info-tab [selectTab]="selectTab" [companyInfo]="companyInfo"></app-company-info-tab> -->
    </mat-tab>
    <mat-tab label={{uiLabels.branchInfoTab}}>
        <!-- <app-branch-info-tab [selectTab]="selectTab" [companyInfo]="companyInfo"></app-branch-info-tab> -->
    </mat-tab>
    <mat-tab label={{uiLabels.basePriceTab}}>
        <!-- <app-base-price-tab [selectTab]="selectTab" [companyInfo]="companyInfo" [dxrWasteList]="dxrWasteInfoList"></app-base-price-tab> -->
    </mat-tab>
</mat-tab-group>