<div *ngIf="viewContent">
    <mat-card>
        <mat-toolbar><span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>{{uiLabels.wastePickInformation}}
            <div style="margin: 5px 20px 5px 15px;display: flex;justify-content: flex-end;flex: 1;">
                <button mat-raised-button color="primary" *ngIf="!isRedirecteView" (click)="onClickProjectListBtn()">{{uiLabels.projectList}}</button>

            </div>

        </mat-toolbar>
        <div class="list-item" style="background-color: rgb(226, 243, 243);">
            <div class="three-section-list-row" style="margin-bottom: 10px;">
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.wasteItem}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{disposalInfo?.wasteItemName}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.duration}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{disposalInfo?.fromDateView}} <label style="margin-right: 10px;">&nbsp;</label> to <label style="margin-left: 10px;">&nbsp;</label>{{disposalInfo?.toDateView}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.quantity}}
                    </div>

                    <div class="list-section-separator">

                        :
                    </div>
                    <div class="list-section-value">
                        {{disposalInfo?.quantity}} ({{planQuantity}})
                    </div>

                </div>


            </div>
            <div class="three-section-list-row" style="margin-bottom: 10px;">
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.pickLocation}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{disposalInfo?.pickZipCode}}, {{disposalInfo?.pickLocation}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.dropLocation}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{disposalInfo?.dropZipCode}}, {{disposalInfo?.dropLocation}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">


                    </div>
                    <div class="list-section-value">

                    </div>

                </div>


            </div>

        </div>
    </mat-card>
    <div>
        <app-driver-schedule [driverList]="driverList" [isViewPopup]="isViewPopup" [driverBandViewList]="driverBandViewList"></app-driver-schedule>
    </div>
    <mat-card>
        <mat-card-title style="font-size: large;">

            <div class="three-section-list-row" style="margin-bottom: 10px;">
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.vehicleSchedule}}
                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">

                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">

                    </div>

                </div>
                <!-- <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.workingHour}}
                    </div>

                    <div class="list-section-separator">

                        :
                    </div>
                    <div class="list-section-value">
                        7:00 to 22:00
                    </div>

                </div> -->


            </div>
        </mat-card-title>
        <app-vehicle-trip-matrix [confirmDisposeSchedule]="confirmDisposeSchedule" [planQuantityUpdate]="planQuantityUpdate" [updateDisposeWisePickList]="updateDisposeWisePickList" [driverList]="driverList" [disposalInfo]="disposalInfo" [column]="column" [row]="row"></app-vehicle-trip-matrix>
    </mat-card>

</div>