<div>
    <mat-toolbar class="row" style="flex: 1;">
        <mat-label class="column left" style="flex: 1;">
            <app-lang-def-button [componentCode]="componentCode"></app-lang-def-button>
            {{uiLabels.headerLabel}}
        </mat-label>
        <div class="column right" style="flex: 1;">
            <button [disabled]="this.selectedManifesto && this.selectedManifesto.size<=0" mat-raised-button class="list-button" (click)="generateCashInvoiceForSelectedManifesto()">{{uiLabels.generateInvoice}}</button>
        </div>
    </mat-toolbar>
</div>
<app-manifesto-list-directive [manifestoInfoList]="cashManifestoList" [addDatetab]="false" [fromProject]="false" [fromProcessCompletion]="false" [fromCashManifestoTab]="true" [onSelectionChanage]="onSelectionChanage"></app-manifesto-list-directive>