<span style="display:flex;justify-content: flex-start;flex: 1;" *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode">
    </app-lang-def-button>
</span>

<div *ngIf="viewContent">

    <app-project-list-dash-board-tab *ngIf="showProjectList" [showProgressBar]="showProgressBar" [search]="getProjectList" [companyName]="companyName" [selectTab]="switchTab" [projectList]="projectList" [selectedOperationFilter]="selectedOperationFilter" [filterItems]="filterItems" [projectProcessDef]="projectProcessDef" [companyId]="companyId"></app-project-list-dash-board-tab>

    <app-create-new-project-tab *ngIf="showCreateProject" [selectedOperationFilter]="selectedOperationFilter" [filterItems]="filterItems" [addressDropDownViewList]="addressDropDownViewList" [companyName]="companyName" [projectList]="projectList" [selectTab]="switchTabToProjectList" [project]="project" [agreementList]="agreementList" [branchList]="branchList" [isSelectAgreement]="isSelectAgreement" [selectedProcess]="selectedProcess" [projectProcessDef]="projectProcessDef" [isViewMode]="isViewMode" [addressDropDownModel]="addressDropDownModel" [creatorCompanyInfo]="creatorCompanyInfo"></app-create-new-project-tab>

</div>