<mat-card>

    <mat-card-title style="background-color: rgb(233, 233, 233);padding: 15px;font-size: 16px; font-weight: 500;"><span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>{{uiLabels.driverTripDetails}} </mat-card-title>
    <mat-dialog-content>
        <!-- <label> {{uiLabels.tripTime}}: {{tripInfo.startTimeView}} - {{tripInfo.endTimeView}}</label> -->

        <mat-card>
            <div class="three-section-list-row" style="margin-bottom: 10px;font-weight: 500;">
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.driver}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{driverName}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        {{uiLabels.tripTime}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        {{tripInfo.startTimeView}} - {{tripInfo.endTimeView}}
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <!-- {{uiLabels.dropLocation}} -->
                    </div>

                    <div class="list-section-separator">
                        <!-- : -->
                    </div>
                    <div class="list-section-value">
                        <!-- {{pick.disposalInfo.dropLocation}} -->
                    </div>

                </div>






            </div>
            <!-- <mat-accordion style="width: 100%;" multi> -->
            <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header style="font-weight: 500;font-size: medium;padding: 7px;">
                                Pick List
                            </mat-expansion-panel-header> -->
            <label style="font-weight: 500;">{{uiLabels.pickList}}</label>
            <mat-card-content>
                <div class="list-item" *ngFor="let pick of tripInfo.pickList">
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.projectTitle}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.projectTitle}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.pickLocation}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.dropLocation}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.dropLocation}}
                            </div>

                        </div>






                    </div>
                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.wasteItem}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.disposalInfo.wasteItemName}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.pickQuantity}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                {{pick.quantity}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <!-- Drop Location -->
                            </div>

                            <div class="list-section-separator">

                                <!-- : -->
                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>

                    </div>
                </div>
            </mat-card-content>
            <!-- </mat-expansion-panel>
        
                    </mat-accordion> -->
        </mat-card>
    </mat-dialog-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" mat-dialog-close>{{uiLabels.closeBtn}}</button>
    </mat-card-actions>
</mat-card>