<div>
    <mat-tab-group [selectedIndex]="selectedIndex" (focusChange)="informChange($event.index)">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode">
            </app-lang-def-button>
        </span>
        <mat-tab label={{uiLabels.faqCatTabHeader}}>
            <app-faq-category-admin [selectTab]="selectTab"></app-faq-category-admin>
        </mat-tab>
        <mat-tab label={{uiLabels.faqQnATabHeader}}>
            <app-faq-question-answer-admin [selectedFaqType]="selectedFaqType" [faqInfoList]="faqInfoList"></app-faq-question-answer-admin>
        </mat-tab>
    </mat-tab-group>
</div>