<div *ngIf="viewContent">

    <div fxLayout="row">
        <mat-toolbar style="background-color: rgb(235, 235, 235);">
            <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">{{uiLabels.headerLabel}}</mat-label>
            <div fxLayoutAlign="end center" style="margin-right: 40px;">
                <button id="addBranchBtn" mat-raised-button color="primary" (click)="addBankAccountInfo()">{{uiLabels.addButton}}</button>
            </div>
        </mat-toolbar>
        <mat-divider>
        </mat-divider>
    </div>



    <div>
        <div class="two-section-list-row ">
            <div class="list-value-section-one ">
                <div class="list-section-label">
                    {{uiLabels.bankName}}
                </div>
                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input id="" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" matInput [(ngModel)]="otherBankAccountInfo.bankName">
                </div>
            </div>
        </div>
        <div class="two-section-list-row ">
            <div class="list-value-section-one ">
                <div class="list-section-label">
                    {{uiLabels.branchName}}
                </div>
                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input id="" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" matInput [(ngModel)]="otherBankAccountInfo.branchName">
                </div>
            </div>
        </div>
        <div class="two-section-list-row ">
            <div class="list-value-section-one ">
                <div class="list-section-label">
                    {{uiLabels.accountNo}}
                </div>
                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input id="" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" matInput [(ngModel)]="otherBankAccountInfo.accountNumber">
                </div>
            </div>
        </div>
        <div class="two-section-list-row ">
            <div class="list-value-section-one ">
                <div class="list-section-label">
                    {{uiLabels.accountName}}
                </div>
                <div class="list-section-separator">
                    :
                </div>
                <div class="list-section-value">
                    <input id="" [ngClass]="!(isHandset$ | async) ? 'input-medium' : 'input-large'" matInput [(ngModel)]="otherBankAccountInfo.accountName">
                </div>
            </div>
        </div>
    </div>

</div>