<span *ngIf="isSystemAdmin">
    <app-lang-def-button [componentCode]="componentCode">
    </app-lang-def-button>
</span>
<mat-card *ngFor="let item of menuList, index as itemIndex" class="common-list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">
    <mat-card-content>

        <mat-expansion-panel [class.mat-elevation-z0]="true">

            <mat-expansion-panel-header class="{{item.menuId}}header" [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
                <div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="{{item.menuId}}header">

                    <div fxFlex="column" fxFlex="0 0 200px">

                        {{item.menuTitle}}
                    </div>

                    <div fxFlex="column">
                        <div>
                            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                                <mat-chip class="example-box" cdkDrag *ngFor="let roleAccess of item.allActiveAccess">
                                    {{roleAccess.roleInfo.roleName}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>

                    <div fxFlex="column" fxLayout="center center" fxFlex="0 0 150px">
                        <button id={{item.menuId}} mat-raised-button class="list-button" type="click" (click)="updateRoleAccess(menuList, itemIndex, '')">{{uiLabels.updateBtn}}</button>
                    </div>

                </div>


            </mat-expansion-panel-header>

            <div *ngIf="item.children && item.children.length>0">
                <mat-expansion-panel *ngFor="let firstChild of item.children, index as firstItemIndex" [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header class="{{firstChild.menuId}}header" [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
                        <div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

                            <div fxFlex="column" fxFlex="0 0 200px">
                                {{firstChild.menuTitle}}
                            </div>

                            <div fxFlex="column">
                                <div>
                                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                                        <mat-chip class="example-box" cdkDrag *ngFor="let roleAccess of firstChild.allActiveAccess">
                                            {{roleAccess.roleInfo.roleName}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>

                            <div fxFlex="column" fxLayout="center center" fxFlex="0 0 150px">
                                <button id={{firstChild.menuId}} mat-raised-button class="list-button" type="click" (click)="updateRoleAccess(item.children, firstItemIndex, item.menuId)">{{uiLabels.updateBtn}}</button>
                            </div>

                        </div>

                    </mat-expansion-panel-header>



                    <div *ngIf="firstChild.children && firstChild.children.length>0 && thirdLabelView">
                        <mat-expansion-panel *ngFor="let secondChild of firstChild.children, index as secondItemIndex" [class.mat-elevation-z0]="true" dense>

                            <mat-expansion-panel-header class="{{secondChild.menuId}}header" [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
                                <div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

                                    <div fxFlex="column" fxFlex="0 0 200px">
                                        {{secondChild.menuTitle}}
                                    </div>

                                    <div fxFlex="column">
                                        <div>
                                            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                                                <mat-chip class="example-box" cdkDrag *ngFor="let roleAccess of secondChild.allActiveAccess">
                                                    {{roleAccess.roleInfo.roleName}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>

                                    <div fxFlex="column" fxLayout="center center" fxFlex="0 0 150px">
                                        <button id={{secondChild.menuId}} mat-raised-button class="list-button" type="click" (click)="updateRoleAccess(firstChild.children, secondItemIndex, firstChild.menuId)">{{uiLabels.updateBtn}}</button>
                                    </div>

                                </div>

                            </mat-expansion-panel-header>


                            <div *ngIf="secondChild.children && secondChild.children.length>0">
                                <mat-expansion-panel *ngFor="let thirdChild of secondChild.children, index as thirdItemIndex" [class.mat-elevation-z0]="true" dense>

                                    <mat-expansion-panel-header class="{{thirdChild.menuId}}header" [collapsedHeight]="'90px'" public static DXR_LIST_VIEW_PAGE_SIZE=10; [expandedHeight]="'90px'">

                                        <div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

                                            <div fxFlex="column" fxFlex="0 0 200px">
                                                {{thirdChild.menuTitle}}
                                            </div>

                                            <div fxFlex="column">
                                                <div>
                                                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                                                        <mat-chip class="example-box" cdkDrag *ngFor="let roleAccess of thirdChild.allActiveAccess">
                                                            {{roleAccess.roleInfo.roleName}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </div>
                                            </div>

                                            <div fxFlex="column" fxLayout="center center" fxFlex="0 0 150px">
                                                <button id={{thirdChild.menuId}} mat-raised-button class="list-button" type="click" (click)="updateRoleAccess(secondChild.children, thirdItemIndex, secondChild.menuId)">{{uiLabels.updateBtn}}</button>
                                            </div>

                                        </div>

                                    </mat-expansion-panel-header>

                                </mat-expansion-panel>
                            </div>

                        </mat-expansion-panel>
                    </div>


                </mat-expansion-panel>
            </div>

        </mat-expansion-panel>
    </mat-card-content>
</mat-card>