<div *ngIf="viewComponent" style="overflow-y: hidden;">
    <div fxLayout="row">
        <mat-toolbar style="background-color: rgb(235, 235, 235);">
            <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                <span *ngIf="isSystemAdmin">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                </span>
                {{uiLabels.listHeader}}
            </mat-label>

            <div fxLayout="row" fxLayoutAlign="center center">

                <button *ngIf="filter==OperationFilter" mat-raised-button class="list-button-medium" id="createManifesto" (click)="addDate(selectedManifesto)">
                    {{uiLabels.addDate}}
                </button>
                <!-- <button *ngIf="filter==complatedFilter" mat-raised-button class="list-button-medium" id="createManifesto" (click)="confirmRevertOfProcessCompletion()">
                    {{uiLabels.revertDate}}
                </button> -->

            </div>
        </mat-toolbar>
        <mat-divider>
        </mat-divider>
    </div>

    <app-search-pagination (searchByText)="searchByText()"></app-search-pagination>

    <div fxLayout="row wrap" style="padding-top: 30px;padding-bottom: 20px;">
        <div fxLayout="row" fxFlex="80 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
            <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end">
                <mat-label>

                    {{uiLabels.filter}}
                </mat-label>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <mat-label>:</mat-label>
            </div>
            <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                <!-- (change)="showFirstItem(filter)" -->
                <!-- (change)="showFirstItem()" -->
                <mat-radio-group color="primary" aria-label="Select an option" class="radio-group" [(ngModel)]="filter" (ngModelChange)="searchByText()">
                    <mat-radio-button id="inProgressRadioButton" value={{OperationFilter}} style="margin-right: 20px;">{{uiLabels.inOperation}}</mat-radio-button>
                    <mat-radio-button id="completedRadioButton" value={{complatedFilter}}>{{uiLabels.completed}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <app-manifesto-list-directive [selectedManifesto]="selectedManifesto" [manifestoInfoList]="manifestoInfoList" [fromProcessCompletion]="fromProcessCompletion"> </app-manifesto-list-directive>

    <mat-label *ngIf="manifestoInfoList.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>
</div>