<div>
    <mat-toolbar style="background-color: rgb(235, 235, 235);" fxLayout="row wrap">
        <mat-label fxLayoutAlign="start center" fxFlex="0 0 45%">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
            {{uiLabels.basePriceList}}
        </mat-label>
        <!-- <div fxLayoutAlign="end center" style="margin-right: 40px;" fxLayoutGap="10px">
            <button id="addBranchBtn" mat-raised-button color="primary" (click)="openWasteInfoListDiolog(dxrWasteList)" *ngIf="!isViewMode">{{uiLabels.addButton}}</button>
        </div> -->
        <div fxLayoutAlign="end center" fxFlex="0 0 35%">
            <button id="wasteRequestBtn" mat-raised-button color="primary" (click)="openWasteRequestDialog()" *ngIf="!isViewMode">{{uiLabels.newRequest}}</button>
        </div>
        <div fxLayoutAlign="end center" fxFlex="0 0 20%">
            <button id="addWasteBtn" mat-raised-button color="primary" (click)="openWasteInfoListDiolog(dxrWasteList)" *ngIf="!isViewMode">{{uiLabels.addButton}}</button>
        </div>
    </mat-toolbar>
    <!-- <mat-divider>
    </mat-divider> -->
</div>

<mat-card *ngFor="let item of companyInfo.wasteList,index as i" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;box-shadow: none;">
    <div fxLayout="row" id="categoryHeader" style="padding-bottom: 15px;background-color: rgb(219, 224, 224);padding-top: 15px;">
        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
            <mat-label>{{uiLabels.wasteCategory}}</mat-label>
        </div>
        <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
            <mat-label>:</mat-label>
        </div>
        <div fxFlex="90 1 auto">
            <mat-label>{{item.categoryTitle}}</mat-label>
        </div>
    </div>
    <mat-accordion style="width: 100%;" multi>

        <mat-expansion-panel *ngFor="let waste of item.dxrWasteTypeDef, index as j" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;">
            <mat-expansion-panel-header id="typeHeader" style="background-color: rgb(245, 248, 248);">
                <div fxLayout="row" fxLayoutAlign="center start" fxFlex="1 1 100%">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wasteType}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{waste.wasteTypeTitle}}</mat-label>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let wasteItem of waste.dxrWasteItemDef, index as k" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;">
                <mat-expansion-panel-header style="height: fit-content;padding-top: 10px;padding-bottom: 10px;">
                    <div style="display: flex;flex: 1;flex-direction: column;" *ngIf="!(isHandset$ | async)">
                        <div fxLayout="row wrap" fxLayoutGap="25px" style="display:flex;flex: 1;">
                            <div fxLayout="row" fxLayoutAlign="center start" style="display:flex;flex: 2;">
                                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                    <mat-label>{{uiLabels.wasteItem}}</mat-label>
                                </div>
                                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                                    <mat-label>:</mat-label>
                                </div>
                                <div fxFlex="90 1 auto">
                                    <mat-label>{{wasteItem.wasteItem}}</mat-label>
                                </div>
                            </div>


                            <div fxLayout="row" fxLayoutAlign="center start" style="display:flex;flex: 2;" *ngIf="isTransporterCompany||isProcessorCompany">
                                <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                    <mat-label>{{uiLabels.priceEditedDate}}</mat-label>
                                </div>
                                <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                                    <mat-label>:</mat-label>
                                </div>
                                <div fxFlex="90 1 auto">
                                    <mat-label *ngIf="wasteItem.frontendDate">{{wasteItem.frontendDate}}</mat-label>
                                    <mat-label *ngIf="!wasteItem.frontendDate">{{uiLabels.priceNotSet}}</mat-label>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="display:flex;flex: 1;">
                                <!-- <div fxFlex="0 1 100px" fxLayout="column" fxLayoutAlign="center end"> -->
                                <button id={{wasteItem.wasteItem}} mat-raised-button class="list-button" (click)="openSetPriceDialog(wasteItem)" *ngIf="!isViewMode && (isTransporterCompany || isProcessorCompany)">{{uiLabels.setPriceBtn}}</button>
                                <button id="removeCompanyWaste{{i}}{{j}}{{k}}" mat-raised-button class="list-button" *ngIf="!isViewMode" (click)="removeCompanyWaste(wasteItem.dxrWasteItemId)">
                                    {{uiLabels.removeButton}}
                                </button>

                                <!-- </div> -->

                            </div>
                        </div>

                    </div>

                    <div fxLayout="column" fxLayoutGap="7px" fxFlex *ngIf="(isHandset$ | async)">
                        <div fxLayout="row">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.wasteItem}}</mat-label>
                            </div>
                            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{wasteItem.wasteItem}}</mat-label>
                            </div>
                        </div>

                        <div fxLayout="row" *ngIf="isTransporterCompany||isProcessorCompany">

                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.priceEditedDate}}</mat-label>
                            </div>
                            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label *ngIf="wasteItem.frontendDate">{{wasteItem.frontendDate}}</mat-label>
                                <mat-label *ngIf="!wasteItem.frontendDate">{{uiLabels.priceNotSet}}</mat-label>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label></mat-label>
                            </div>
                            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label></mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <button id={{wasteItem.wasteItem}} mat-raised-button class="list-button" (click)="openSetPriceDialog(wasteItem)" *ngIf="!isViewMode && (isTransporterCompany || isProcessorCompany)">{{uiLabels.setPriceBtn}}</button>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <!-- <button mat-raised-button style="width: 200px;background-color: rgb(174, 192, 199) ; border: 1px solid rgb(95, 95, 128) !important;font-weight: normal;" *ngIf="!isViewMode && isDumperCompany">
                                {{uiLabels.setDumpingMethode}}
                            </button>

                            <button id={{wasteItem.wasteItem}} mat-raised-button class="list-button" (click)="openSetPriceDialog(wasteItem)" *ngIf="!isViewMode && (isTransporterCompany || isProcessorCompany)">{{uiLabels.setPriceBtn}}</button>

                        </div>

                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">

                            <button mat-raised-button class="list-button" *ngIf="!isViewMode && isProcessorCompany" (click)="openSetMethodePopup(wasteItem,false)">
                                {{uiLabels.setProcessingMethod}}
                            </button> -->
                            <button id="removeCompanyWaste{{i}}{{j}}{{k}}" mat-raised-button class="list-button" *ngIf="!isViewMode" (click)="removeCompanyWaste(wasteItem.dxrWasteItemId)">
                                {{uiLabels.removeButton}}
                            </button>

                        </div>

                    </div>

                </mat-expansion-panel-header>

                <!-- <div class="list-item">
                    <div class="three-section-list-row">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.unitDef}}</mat-label>
                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{wasteItem.unitDef}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.wasteShape}}</mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{wasteItem.wasteShape}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">

                            </div>
                            <div class="list-section-value">
                                <button id={{wasteItem.wasteItem}} mat-raised-button class="list-button" (click)="openSetPriceDialog(wasteItem)" *ngIf="!isViewMode && (isTransporterCompany || isProcessorCompany)">{{uiLabels.setPriceBtn}}</button>
                            </div>

                        </div>


                    </div>
                    <div class="three-section-list-row" *ngIf="isProcessorCompany">

                        <div class="list-value-section" *ngFor="let methode of companyWasteItemSetMethodeList">
                            <div class="list-section-label" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.processingMethode&&methode&&methode.processingMethode.methodeId && isProcessorCompany">
                                <mat-label>{{uiLabels.processingMethod}}</mat-label>
                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.processingMethode&&methode&&methode.processingMethode.methodeId && isProcessorCompany">
                                <label>:</label>
                            </div>
                            <div class="list-section-value" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.processingMethode&&methode&&methode.processingMethode.methodeId && isProcessorCompany">
                                <mat-label>{{uiLabels.processingMethod}}</mat-label>

                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">

                            </div>
                            <div class="list-section-value">

                            </div>
                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">
                                <button mat-raised-button style="margin-left: 200px;background-color: rgb(174, 192, 199) ; border: 1px solid rgb(95, 95, 128) !important;font-weight: normal;" (click)="openSetMethodePopup(wasteItem,false)" *ngIf="!isViewMode && isProcessorCompany         ">
                                    {{uiLabels.setProcessingMethod}}
                                </button>
                            </div>

                        </div>

                    </div>
                    <div class="three-section-list-row" *ngIf="isDumperCompany">
                        <div class="list-value-section" *ngFor="let methode of companyWasteItemSetMethodeList">
                            <div class="list-section-label" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.dumpingMethode.methodeId&&methode.dumpingMethode&&methode && isDumperCompany">
                                <mat-label>{{uiLabels.dumpingMethod}}</mat-label>
                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.dumpingMethode.methodeId&&methode.dumpingMethode&&methode && isDumperCompany">
                                <label>:</label>
                            </div>
                            <div class="list-section-value" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.dumpingMethode.methodeId&&methode.dumpingMethode&&methode && isDumperCompany">
                                {{methode.dumpingMethode.methodeTitle}}
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">

                            </div>
                            <div class="list-section-value">
                                <button mat-raised-button style="margin-left: 60px;background-color: rgb(174, 192, 199) ; border: 1px solid rgb(95, 95, 128) !important;font-weight: normal;" (click)="openSetMethodePopup(wasteItem,true)" *ngIf="!isViewMode && isDumperCompany">
                                    {{uiLabels.setDumpingMethode}}
                                </button>
                            </div>

                        </div>


                    </div>
                    <div class="three-section-list-row">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.wastePackage}}</mat-label>
                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{wasteItem.wastePackage}}</mat-label>
                            </div>

                        </div>
                        <div *ngIf="isTransporterCompany" class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.transportPrice}}</mat-label>
                            </div>

                            <div class="list-section-separator">
                                <label>:</label>
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{wasteItem.transportPriceFormated}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section" *ngIf="isProcessorCompany">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.processorPrice}}</mat-label>
                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                                <label>:</label>
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{wasteItem.processingPriceFormated}}</mat-label>
                            </div>

                        </div>



                    </div>
                    <div class="three-section-list-row">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.remarks}}</mat-label>

                            </div>
                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{wasteItem.remarks}}</mat-label>
                            </div>
                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator">

                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">

                            </div>

                            <div class="list-section-separator" style="margin-left: 10px; margin-right: 10px;">

                            </div>
                            <div class="list-section-value">

                            </div>

                        </div>


                    </div>

                </div> -->






                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.unitDef}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{wasteItem.unitDef}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wasteShape}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{wasteItem.wasteShape}}</mat-label>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.wastePackage}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{wasteItem.wastePackage}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row" *ngIf="isTransporterCompany">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.transportPrice}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{wasteItem.transportPriceFormated}}

                        </mat-label>
                    </div>
                </div>
                <div fxLayout="row" *ngIf="isProcessorCompany">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.processorPrice}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{wasteItem.processingPriceFormated}}

                        </mat-label>
                    </div>
                </div>



                <div *ngFor="let methode of companyWasteItemSetMethodeList">
                    <!-- <div fxLayout="row" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.dumpingMethode.methodeId&&methode.dumpingMethode&&methode && isDumperCompany">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.dumpingMethod}}</mat-label>
                        </div>
                        <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            {{methode.dumpingMethode.methodeTitle}}
                        </div>
                    </div> -->
                    <div fxLayout="row" *ngIf="methode.wasteItemId==wasteItem.dxrWasteItemId&&methode.processingMethode&&methode&&methode.processingMethode.methodeId && isProcessorCompany">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            {{uiLabels.CO2CoefficientValue}}
                            <!-- <mat-label>{{uiLabels.processingMethod}}</mat-label> -->
                        </div>
                        <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            {{methode.processingMethode.emissionQuantityPerUnit}}

                        </div>
                    </div>


                </div>
                <div fxLayout="row">
                    <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </div>
                    <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{wasteItem.remarks}}</mat-label>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>