<!-- <mat-dialog-content> -->
<div>
    <!-- <div style="padding: 20px;"> -->
    <div fxLayout="row wrap" style="padding-top: 20px;padding-bottom: 10px;background-color: rgb(219, 219, 219);">
        <div fxLayout="row" fxFlex="80 1 auto" [style]="(isHandset$ | async) ? 'padding-top:10px;' : 'padding-top:0px;'">
            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                <h2>
                    <mat-label>
                        {{uiLabels.subjectDetail}}
                    </mat-label>
                </h2>
            </div>
            <div fxFlex="0 1 40px" fxLayout="column" fxLayoutAlign="center center">
                <h2>
                    <mat-label>:</mat-label>
                </h2>
            </div>
            <div fxFlex="90 1 auto" fxLayout="column" fxLayoutAlign="center start">
                <h2>
                    <mat-label>{{selectedInquiry.inquiryDetail}}</mat-label>
                </h2>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="border:solid rgb(224, 217, 217) 2px;">
        <div fxLayout="row">
            <mat-toolbar style="background-color: rgb(246, 246, 246);">
                <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
                    <span *ngIf="isSystemAdmin">
                        <app-lang-def-button [componentCode]="componentCode">
                        </app-lang-def-button>
                    </span>
                    {{uiLabels.correspondenceDetail}}
                </mat-label>
            </mat-toolbar>
        </div>

        <div>

            <div *ngFor="let item of replyList" style="margin-left: 20px;">
                <div fxFlex="0 0 30" *ngIf="item.userType==userFlag">

                </div>
                <div class="col" fxFlex="0 0 70" (click)="selectListItem(item)" style="margin: 5px;">

                    <mat-label>{{item.frontendDate}}</mat-label>
                    <mat-card [ngStyle]="{'background-color': item.userType==userFlag? 'rgb(224, 224, 241)' : 'rgb(235, 235, 240)'}" style="margin-right: 10px;">
                        <mat-card-content>

                            <div fxLayout="row">

                                <div fxFlex="90 1 auto">

                                </div>
                            </div>
                            <div fxLayout="row">

                                <div fxFlex="90 1 auto">
                                    <mat-label>{{item.reply}}</mat-label>
                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </div>

        <mat-divider></mat-divider>

        <div>

            <div style="padding-top: 30px;">

                <div fxLayout="row" *ngIf="(isHandset$ | async)" style="margin-left: 8px;">

                    <div fxFlex="100 1 auto">
                        <textarea id="replyTextField" type="text" matInput placeholder="メッセージを送信する" [(ngModel)]="inquiryReply.reply" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <div fxLayout="row" *ngIf="!(isHandset$ | async)" style="margin-left: 15px;">

                    <div fxFlex="100 1 auto">
                        <textarea id="replyTextField" type="text" matInput placeholder="メッセージを送信する" [(ngModel)]="inquiryReply.reply" cols="160" rows="7"></textarea>
                    </div>
                </div>

            </div>

            <mat-card-actions align="end" style="margin-right: 20px;">
                <button id="close" mat-raised-button color="accent" mat-dialog-close="" *ngIf="isViewMode">{{uiLabels.close}}</button>
                <button id="send" mat-raised-button color="primary" type="submit" (click)="addInquiryReply()">{{uiLabels.sendBtn}}</button>
            </mat-card-actions>

        </div>

    </div>
</div>
<!-- </mat-dialog-content> -->