.matrix-header {
  background-color: rgb(241, 241, 241);
  margin: 7px;
  overflow:visible;
}

.matrix-header div {
    /* background-color: rgb(241, 241, 241); */
    padding: 7px;
    font-weight: 550;
  padding: 10px 0px 10px 0px;
}

.matrix-row {
  /* border-bottom: 1px solid gray; */
}


