<div>
    <span *ngIf="isSystemAdmin">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <div fxLayout="column" style="width: 90hw; overflow-x: scroll;">
        <div fxLayout="row" class="matrix-header" *ngIf="!(isHandset$|async)">

            <div style="display: flex;width: 122px; justify-content: center;align-items: center; ">{{uiLabels.date}}</div>
            <div style="display: flex;" *ngFor="let vehicle of column, index as i">
                <div [ngStyle]="{'border-left': (i==0) ? '1px solid black;' : ''}" style="width:280px;display: flex;justify-content: center;border-right: 1px solid black;">{{vehicle.vehicleInfo.manufacturerName}}</div>
            </div>
        </div>

        <div fxLayout="row" class="matrix-row" *ngFor="let rowItem of row">

            <div style="display: flex;justify-content: center;align-items: center; position:sticky;left: 0;background-color: rgb(241, 241, 241);" [ngClass]="(isHandset$|async) ? 'list-item-without-hover' : 'list-item-without-hover'" [ngStyle]="{'width': (isHandset$|async) ? '190px !important' : '100px'}">{{rowItem.frontendDateView}}</div>

            <div style="display: flex;width:280px;justify-content: center;align-items: start;" *ngFor="let item of column">
                <div *ngFor="let vehicleTrips of item.tripPlan">



                    <div class="list-item-without-hover" *ngIf="vehicleTrips.date==rowItem.backendDate" fxLaoutGap="10px" style="background-color: rgb(245, 245, 245);width: 250px;height: 300px;display: flex; justify-content: flex-start;">
                        <div class="three-section-list-row">

                            <div class="list-value-section" *ngIf="(isHandset$|async)">
                                <div class="list-section-label" style="flex:100px">
                                    {{uiLabels.Vehicle}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value">
                                    <b>{{item.vehicleInfo.manufacturerName}}</b>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="three-section-list-row">

                            <div class="list-value-section">
                                <div class="list-section-label" style="flex:100px">
                                    {{uiLabels.openHour}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value">
                                    <label *ngIf="vehicleTrips.openHour>=10">{{vehicleTrips.openHour}} </label>
                                    <label *ngIf="vehicleTrips.openHour<10">0{{vehicleTrips.openHour}} </label>
                                    <label *ngIf="vehicleTrips.openMinute>0">:{{vehicleTrips.openMinute}} </label>
                                    <label *ngIf="vehicleTrips.openMinute==0">:00 </label>
                                    hr

                                </div>
                            </div>

                        </div> -->


                        <div class="three-section-list-row">



                            <div class="list-value-section">
                                <div class="list-section-label" style="flex:1">
                                    <u>
                                        <a style="color: rgb(124, 57, 192);margin-right: 10px;" role="button" (click)="onClickAddTrip(item,rowItem)">{{uiLabels.addTripBtn}}</a>
                                    </u>
                                    <!-- <u>
                                        <a *ngIf="vehicleTrips.tripList.length>0" style="color: rgb(124, 57, 192);" role="button" (click)="onClickDetailsBtn(item,rowItem)">{{uiLabels.Details}} </a>
                                    </u> -->

                                </div>

                            </div>

                        </div>


                        <div class="three-section-list-row">

                            <div class="list-value-section">
                                <div class="list-section-label" style="flex:100px;">
                                    <b>{{uiLabels.trips}}</b>
                                </div>
                                <div class="list-section-separator">
                                    <!-- : -->
                                </div>

                                <div class="list-section-value">
                                    <!-- {{dateItem.date}} -->
                                </div>
                            </div>

                        </div>

                        <div *ngFor="let slot of vehicleTrips.tripList | tripFilterBasedOnDisposalPick:disposalInfo.disposalInfoId">
                            <div style="border: 1px solid rgb(236, 236, 236);width: 100%;margin-bottom: 5px;"></div>
                            <div class="three-section-list-row">
                                <div class="left" style="display: flex; justify-content: flex-end; align-self: center;">
                                    {{slot.startTimeView}} - {{slot.endTimeView}}
                                    <!-- ({{slot.pickList.length}}) -->
                                </div>
                                <div class="list-section-separator">

                                </div>

                                <div class="list-section-value">
                                    <!-- <u>
                                        <a style="color: rgb(124, 57, 192);margin-right: 10px;" role="button" (click)="onClickAddPickBtn(slot,item,rowItem)">{{uiLabels.addPickBtn}} </a>
                                    </u> -->

                                    <u>
                                        <a style="color: rgb(124, 57, 192);" role="button" (click)="editTrip(slot.tripInfoId,vehicleTrips.tripList,item,rowItem)">{{uiLabels.edit}}</a>
                                    </u>

                                </div>
                                <!-- <div class="list-section-label" style="flex:100px">
                                    </div>
                                    <div class="list-section-separator">
        
                                    </div>
        
                                    <div class="list-section-value">
                                        {{slot.driverName}}
                                    </div> -->

                            </div>
                            <div class="three-section-list-row">
                                <div class="list-value-section">
                                    <div class="left" style="display: flex; justify-content: flex-end; align-self: center;margin-left: 5px;">
                                        {{uiLabels.driver}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>

                                    <div class="list-section-value">
                                        {{slot.driverName}}
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>