<mat-card>
    <mat-card-title fxLayoutAlign="space-between">
        <div style="display: flex;align-items: center; justify-content: center;">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>{{uiLabels.title}} :
        </div>
        <div style="margin: 15px 40px 15px 500px;display: flex;justify-content: flex-end;flex: 1;">
            <button *ngIf="isLoadMenuAvailable" mat-raised-button class="list-button-medium" style="padding: 0px 5px; margin-right: 5px;" type="click" (click)="redirectToLoadMenu()">{{uiLabels.load}}</button>
            <button *ngIf="isUnloadMenuAvailable" mat-raised-button class="list-button-medium" style="padding: 0px 5px;" type="click" (click)="redirectToUnloadMenu()">{{uiLabels.unload}}</button>
        </div>
    </mat-card-title>

    <app-search-pagination (searchByText)="searchByText()"></app-search-pagination>

    <mat-accordion style="width: 100%;" multi>
        <mat-expansion-panel *ngFor="let project of projectList" [ngStyle]="{'background-color': selectedItem==project ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;" (click)="selectTab(0, project)">
            <mat-expansion-panel-header id="typeHeader" style="background-color:  rgb(190, 223, 223);">
                <div style="flex:1">

                    <div class="three-section-list-row" style="margin-bottom: 10px;">
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.projectTitle}} </mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value" style="font-weight: 500;">
                                <mat-label>{{project.projectTitle}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                <mat-label>{{uiLabels.status}} </mat-label>
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <mat-label>{{project.status.statusName}}</mat-label>
                            </div>

                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label">
                                {{uiLabels.tripSchedule}}
                            </div>

                            <div class="list-section-separator">
                                :
                            </div>
                            <div class="list-section-value">
                                <!-- <button type="chip" *ngIf="project.projectScheduleStatus==pr">Done</button>
                                <button type="chip" *ngIf="project.projectScheduleStatus!=projectScheduleConfirmDone">Not Done Yet</button> -->
                                <mat-chip *ngIf="project.projectScheduleStatus==projectScheduleConfirmDone" style="background-color: rgb(202, 202, 226);">{{uiLabels.done}}</mat-chip>
                                <mat-chip *ngIf="project.projectScheduleStatus!=projectScheduleConfirmDone" style="background-color: rgb(202, 202, 226);">{{uiLabels.notDone}}</mat-chip>
                            </div>

                        </div>


                    </div>


                </div>
            </mat-expansion-panel-header>

            <app-project-info-tab *ngIf="true" [hideTitleBar]="true" [companyId]="companyId" [selectTab]="switchTabToVehicleTripSchedule" [project]="project" [projectListView]="projectListView" [isRedirecteView]="isRedirecteView">
            </app-project-info-tab>

            <!-- --------------- Old Project Detail Section ---------------------- -->
            <div style="margin-top: 10px;" *ngIf="false">

                <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="!(isHandset$ | async)">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.projectTitle}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectTitle}}</mat-label>
                            </div>
                        </div>
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.projectCreationDate}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectCreationDate}}</mat-label>
                            </div>
                        </div>

                        <div fxFlex="1 1 auto">
                            <button mat-raised-button class="list-button-light" (click)="tabChangeForSelectedProject(project)">
                                {{uiLabels.createTripPlanBtn}}
                            </button>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.projectStartDate}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectStartDate}}</mat-label>
                            </div>
                        </div>
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.projectEndDate}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.projectEndDate}}</mat-label>
                            </div>

                        </div>

                        <div fxFlex="1 1 auto">
                            <button mat-raised-button class="list-button-light" (click)="onClickViewBtn(project)">
                                {{uiLabels.viewBtn}}
                            </button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.oparatingBranch}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.operatingOfficeName}}</mat-label>
                            </div>

                        </div>
                        <div fxFlex="1 1 40">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.status}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{project.status.statusName}}</mat-label>
                            </div>

                        </div>

                    </div>
                    <div fxLayout="row">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.wasteItem}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <mat-chip-list *ngFor="let waste of project.wasteProcessInfo" style="margin-right: 5px;">
                            <mat-chip>{{waste.wasteItemName}}</mat-chip>
                        </mat-chip-list>
                        <div fxFlex="90 1 auto">
                            &nbsp;
                        </div>

                    </div>
                    <div fxLayout="row">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.wasteQuantity}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <mat-chip-list *ngFor="let waste of project.wasteProcessInfo" style="margin-right: 5px;">
                            <mat-chip>{{waste.quantity}}</mat-chip>
                        </mat-chip-list>
                        <div fxFlex="90 1 auto">
                            &nbsp;
                        </div>

                    </div>

                    <div fxLayout="row">
                        <div fxFlex="0 1 140px" fxLayoutAlign="end start">
                            <mat-label>{{uiLabels.businessPartner}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayoutAlign="center start">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="0 1 auto" fxlayoutAlign="center start">
                            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="project.dumperPartner && project.dumperPartner.companyInfoId && project.projectViewerIds?.includes(project.dumperPartner.companyInfoId)" style="margin-bottom: 10px;">
                                <label style="margin-right: 15px;">
                                    {{project.dumperPartner.companyName}}
                                    <span *ngIf="project.companyId==project.dumperPartner.companyInfoId"> {{uiLabels.initiator}}</span>
                                </label>

                                <mat-chip-list>
                                    <mat-chip *ngIf="project.dumperPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                                    <mat-chip *ngIf="project.dumperPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                                    <mat-chip *ngIf="project.dumperPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                                </mat-chip-list>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="project.transporterPartner && project.transporterPartner.companyInfoId && project.projectViewerIds?.includes(project.transporterPartner.companyInfoId)" style="margin-bottom: 10px;">
                                <label style="margin-right: 15px;">
                                    {{project.transporterPartner.companyName}}
                                    <span *ngIf="project.companyId==project.transporterPartner.companyInfoId"> {{uiLabels.initiator}}</span>
                                </label>

                                <mat-chip-list>
                                    <mat-chip *ngIf="project.transporterPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                                    <mat-chip *ngIf="project.transporterPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                                    <mat-chip *ngIf="project.transporterPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                                </mat-chip-list>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="project.processorPartner && project.processorPartner.companyInfoId && project.projectViewerIds?.includes(project.processorPartner.companyInfoId)" style="margin-bottom: 10px;">
                                <label style="margin-right: 15px;">
                                    {{project.processorPartner.companyName}}
                                    <span *ngIf="project.companyId==project.processorPartner.companyInfoId"> {{uiLabels.initiator}}</span>
                                </label>

                                <mat-chip-list>
                                    <mat-chip *ngIf="project.processorPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                                    <mat-chip *ngIf="project.processorPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                                    <mat-chip *ngIf="project.processorPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                                </mat-chip-list>
                            </div>

                        </div>
                    </div>

                </div>

                <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'" *ngIf="(isHandset$ | async)">
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.projectTitle}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectTitle}}</mat-label>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.projectCreationDate}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectCreationDate}}</mat-label>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.projectStartDate}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectStartDate}}</mat-label>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.projectEndDate}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.projectEndDate}}</mat-label>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.oparatingBranch}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.operatingOfficeName}}</mat-label>
                        </div>

                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.staus}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.status.statusName}}</mat-label>
                        </div>

                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.wasteItem}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <mat-chip-list *ngFor="let waste of project.wasteProcessInfo" style="margin-right: 5px;">
                            <mat-chip>{{waste.wasteItemName}}</mat-chip>
                        </mat-chip-list>
                        <div fxFlex="90 1 auto">
                            &nbsp;
                        </div>
                    </div>

                    <div fxLayout="row wrap" *ngIf="project.transporterPartner && project.transporterPartner.companyInfoId">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>{{uiLabels.businessPartner}} </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>:</mat-label>
                        </div>
                        <mat-chip-list>
                            <mat-chip *ngIf="project.transporterPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                            <mat-chip *ngIf="project.transporterPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                            <mat-chip *ngIf="project.transporterPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                        </mat-chip-list>
                        <div fxFlex="90 1 auto" fxLayoutAlign="centar start">
                            <mat-label>{{project.transporterPartner.companyName}}<span *ngIf="project.companyId==project.transporterPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
                        </div>

                    </div>

                    <div fxLayout="row wrap" *ngIf="project.dumperPartner && project.dumperPartner.companyInfoId">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>&nbsp; </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>&nbsp;</mat-label>
                        </div>
                        <mat-chip-list>
                            <mat-chip *ngIf="project.dumperPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                            <mat-chip *ngIf="project.dumperPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                            <mat-chip *ngIf="project.dumperPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                        </mat-chip-list>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.dumperPartner.companyName}}<span *ngIf="project.companyId==project.dumperPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
                        </div>

                    </div>

                    <div fxLayout="row wrap" *ngIf="project.processorPartner && project.processorPartner.companyInfoId">
                        <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                            <mat-label>&nbsp; </mat-label>
                        </div>
                        <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>&nbsp;</mat-label>
                        </div>
                        <mat-chip-list>
                            <mat-chip *ngIf="project.processorPartner.assignRoles==dumperCompanyTitle">{{uiLabels.dumper}}</mat-chip>
                            <mat-chip *ngIf="project.processorPartner.assignRoles==transporterCompanyTitle">{{uiLabels.transporter}}</mat-chip>
                            <mat-chip *ngIf="project.processorPartner.assignRoles==processorCompanyTitle">{{uiLabels.processor}}</mat-chip>
                        </mat-chip-list>
                        <div fxFlex="90 1 auto">
                            <mat-label>{{project.processorPartner.companyName}}<span *ngIf="project.companyId==project.processorPartner.companyInfoId"> {{uiLabels.initiator}}</span></mat-label>
                        </div>

                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="center center">

                        <button mat-raised-button class="list-button-light" (click)="onClickViewBtn(project)">
                            {{uiLabels.viewBtn}}
                        </button>
                        <div fxFlex="60 1 30px;" fxLayoutAlign="start start">
                            <mat-label>&nbsp;</mat-label>
                        </div>
                        <button mat-raised-button class="list-button-light" (click)="tabChangeForSelectedProject(project)">
                            {{uiLabels.createTripPlanBtn}}
                        </button>
                        <div fxFlex="60 1 30px;" fxLayoutAlign="start start">
                            <mat-label>&nbsp;</mat-label>
                        </div>

                    </div>

                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-label *ngIf="projectList.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>

</mat-card>