<mat-card>
    <mat-card-title style="margin-bottom: 10px;background-color: rgb(234, 234, 234);padding: 10px 0px;">
        <span *ngIf="isSystemAdmin">
            <app-lang-def-button [componentCode]="componentCode"></app-lang-def-button>
        </span>
        <label>{{uiLabels.notificationListFor}} {{selectNotificationInfo.notificationTypeName}}</label>
    </mat-card-title>



    <mat-dialog-content>
        <mat-accordion class="scroll-horizontal" style="width: 100%;" multi>
            <mat-expansion-panel *ngFor="let item of selectNotificationInfo.notifications,index as i " [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;">
                <mat-expansion-panel-header id="typeHeader" style="background-color:  rgb(190, 223, 223);">
                    <div fxLayout="row" fxFlex="0 0 95%">
                        <div fxFlex="0 0 60%" fxLayout="column" fxLayoutAlign="start start" style="font-weight: 500;">
                            {{selectNotificationInfo.notificationTypeName}} {{uiLabels.notification}} - {{i+1}}
                        </div>
                        <div fxFlex="0 0 30%" fxLayout="column" fxLayoutAlign="end end">
                            <mat-label>&nbsp;</mat-label>
                        </div>
                        <div fxFlex="0 0 10%" fxLayout="column" fxLayoutAlign="end end" style="margin-right: 5px;">
                            <button mat-raised-button class="list-button-light" (click)="onClickBrowseBtn(item.notificationId,selectNotificationInfo.notificationTypeId,selectNotificationInfo.browseURL,selectNotificationInfo.menuId,selectNotificationInfo.parentMenuId)">{{uiLabels.browse}}</button>
                        </div>

                    </div>
                    <!-- <label style="font-weight: 500;">
                            {{selectNotificationInfo.notificationTypeName}} {{uiLabels.notification}} - {{i+1}}
                        </label>
                       

                    <button mat-raised-button style="margin-left: 200px" class="list-button-light" (click)="onClickBrowseBtn(item.notificationId,selectNotificationInfo.notificationTypeId,selectNotificationInfo.browseURL,selectNotificationInfo.menuId,selectNotificationInfo.parentMenuId)">{{uiLabels.browse}}</button> -->
                </mat-expansion-panel-header>
                <div class="list-item">
                    <div fxLayout="Column">
                        <div fxLayout="row">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.dateAndTime}} </mat-label>

                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{item.dateAndTime}}</mat-label>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.organization}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{item.senderOrganizationName}}</mat-label>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.userName}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{item.senderUserName}}</mat-label>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="0 1 140px" fxLayout="column" fxLayoutAlign="center end">
                                <mat-label>{{uiLabels.message}} </mat-label>
                            </div>
                            <div fxFlex="0 1 20px" fxLayout="column" fxLayoutAlign="center center">
                                <mat-label>:</mat-label>
                            </div>
                            <div fxFlex="90 1 auto">
                                <mat-label>{{item.message}}</mat-label>
                            </div>
                        </div>


                    </div>



                </div>




            </mat-expansion-panel>

        </mat-accordion>

    </mat-dialog-content>


</mat-card>