<div fxLayout="row">
    <mat-toolbar style="background-color: rgb(235, 235, 235);">
        <mat-label fxLayoutAlign="start center" fxFlex="1 1 100%">
            <span *ngIf="isSystemAdmin">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
            </span>
            {{uiLabels.vehicleList}}
        </mat-label>
        <div fxLayoutAlign="end center" style="margin-right: 40px;">
            <button id="addBranchBtn" mat-raised-button color="primary" (click)="openVehicleInfoDiolog(vehicleInfo)">{{uiLabels.addButton}}</button>
        </div>
    </mat-toolbar>
    <mat-divider>
    </mat-divider>
</div>

<app-search-pagination (searchByText)="searchByText()"></app-search-pagination>
<mat-accordion style="width: 100%;" multi>
    <mat-expansion-panel *ngFor="let item of companyInfo.vehicleList; index as i" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" style="margin-bottom: 5px;">
        <mat-expansion-panel-header id="typeHeader" style="background-color: rgb(190, 223, 223);">
            <div style="flex:1">

                <div class="three-section-list-row" style="margin-bottom: 10px;" id="vehicle+{{i}}">
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.vehicleName}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.manufacturerName}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.vehicleType}}
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            <mat-label>{{item.vehicleType}}</mat-label>
                        </div>

                    </div>
                    <div class="list-value-section">
                        <div class="list-section-label">
                            <mat-label>{{uiLabels.vehicleNo}}</mat-label>
                        </div>

                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            {{item.vehicleRegNo}}
                        </div>

                    </div>


                </div>


            </div>
        </mat-expansion-panel-header>
        <div class="list-item">

            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.capacity}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.vehicleCapacity}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.inspectionDate}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.inspectionDate}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value" fxLayoutGap="15px">
                        <button id="vehicleEditBtn+{{i}}" mat-raised-button class="list-button" (click)="openVehicleInfoDiolog(item)">{{uiLabels.editButton}}</button>
                        <button mat-raised-button class="list-button" style="margin-left: 20px;" (click)="openVehicleInfoViewDiolog(item)">{{uiLabels.viewButton}}</button>
                        <button id="removeVehicle{{i}}" mat-raised-button class="list-button" type="click" (click)="removeVehicle(item.vehicleId)">{{uiLabels.removeButton}}</button>
                    </div>

                </div>


            </div>
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.officeAddress}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.zipcodeFormated}}, {{item.officeAddress}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">
                        <mat-label>{{uiLabels.remarks}}</mat-label>
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>
                    <div class="list-section-value">
                        <mat-label>{{item.remarks}}</mat-label>
                    </div>

                </div>
                <div class="list-value-section">
                    <div class="list-section-label">

                    </div>

                    <div class="list-section-separator">

                    </div>
                    <div class="list-section-value">
                        <!-- <button id="removeVehicle{{i}}" mat-raised-button class="list-button" type="click" (click)="removeVehicle(item.vehicleId)">{{uiLabels.removeButton}}</button> -->
                    </div>

                </div>


            </div>

        </div>
    </mat-expansion-panel>
    <mat-label *ngIf="companyInfo.vehicleList.length<pageSize" style="padding: 10px;">{{dataEndsLabel}}</mat-label>
</mat-accordion>