<div>
    <mat-toolbar>
        <span>{{uiLabels.popupHeader}}</span>
    </mat-toolbar>

    <div>
        <div class="column">
            <div class="three-section-list-row">

                <div class="list-value-section">
                    <div class="list-section-value" style="font-size:20;font-weight: 550;padding: 5px;">
                        {{uiLabels.selectedManifestoList}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let item of selectedManifestoList">
            <div class="list-item">
                <div class="three-section-list-row">

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.date}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>

                        <div class="list-section-value">
                            {{item.dateView}}
                        </div>
                    </div>

                    <div class="list-value-section">
                        <div class="list-section-label">
                            {{uiLabels.manifestoNo}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            {{item.menifestoUniqueId}}
                        </div>
                    </div>

                    <div class="list-value-section" *ngIf="item.manifestoType==manifestoTypeGenerated">
                        <div class="list-section-label">
                            {{uiLabels.projectTitle}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            {{item.projectName}}
                        </div>
                    </div>

                    <div class="list-value-section" *ngIf="item.manifestoType==manifestoTypeManual">
                        <div class="list-section-label">
                            {{uiLabels.agreementTitle}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>
                        <div class="list-section-value">
                            {{item.aggrementInfo.title}}
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="column">
            <div class="three-section-list-row">

                <div class="list-value-section" style="flex:1">
                    <div class="list-section-label">
                        <button mat-raised-button color="primary" mat-dialog-close={{true}}>
                            {{uiLabels.confirmButton}}
                        </button>

                    </div>
                </div>

                <div class="list-value-section" style="flex:1">
                    <div class="list-section-value">
                        <button mat-raised-button color="accent" mat-dialog-close>
                            {{uiLabels.cancelButton}}
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>